.about-top {
	padding-top: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 100px; 
	background-position-x: 90%;
	min-height: 70vh;


	@include breakpoint(md) {
		min-height: 88vh;
	}

	@include breakpoint(lg) {
		background-position-x: 70%;
	}

	.desktop-text {
		display: none !important;

		@include breakpoint(md) {
			display: inline-block !important;
		}
	}
}

.hero__image {

	@include breakpoint(xxl) {
		min-height: 75vh;
	}
	
	.mobile-text {
		@include breakpoint(md) {
			display: none;
		}
	}
}

.about__top {

	@include breakpoint(xxl) {
		min-height: 75vh;
	}
	
	.mobile-text {
		@include breakpoint(md) {
			display: none;
		}
	}
}

.contact-info {
	p {
		margin-bottom: 30px;
	}
}

.accordionItemContent, .details, .eventDetails {
	color: color(green-x-light);
}

// read more expand 

.accordionItemContent {
	margin-bottom: 50px;
}

.about-main {
	p {
		padding-bottom: 50px;

		@include breakpoint(md) {
			padding-right: 100px;
		}
	}
}

.about__people {
	.contain-width {
		width: 100%;
	}
}


.map-image {
	max-width: 400px;
	margin: 0 auto;
}

#about__scroller .scroller-navigation {
	p a {
		white-space: nowrap;
	}
}