.beer-handle {
  background-color: color(purple) !important;

  &:after, &:before {
    border-left: 2px solid color(white) !important;
    border-top: 2px solid color(white) !important;
  }
}

#ourwork__accordion-container {
  display: grid;
  background: #fff;
  // min-height: 689px;
  // max-height: 689px;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
  margin: auto;  
  // width: 82%;
  max-width: 1000px;

  width: 95%;
  grid-template-columns: 1fr;

  @include breakpoint(md) {
    // grid-template-columns: 30% auto;
    grid-template-columns: 30% 70%;
    width: 90%;
    min-height: 550px;
    max-height: 550px;
  }

  @include breakpoint(lg) {
    // width: 80%;
  }
  
  @include breakpoint(xl) {
    // width: 70%;

  }


  #accordion-inner {
  
    .accordion {

      h3 {
        color: color(green);
        padding: 10px 10px 10px 25px;
        font-weight: 300;
        cursor: pointer;
        margin: 0px;
        width: 100%;
        box-sizing: border-box;
        text-transform: uppercase;
      }

      .accordion__body {
        padding: 30px 25px;
        font-weight: 300;
        // height: 490px;

        @include breakpoint(md) {
          height: 351px;
          padding: 10px 25px;

        }

        p {
          padding: 0px 0px 15px 0px;
          @include breakpoint(md) {
            padding: 0px 0px 10px 0px;
          }
        }
      }

      &.active {
        h3 {
          font-weight: 800;
        }
      }


    }

  }

  #accordion__img > div > img {
    max-width: 100%;
    height: auto;
    display: block;
    // padding: 50px;
  }

}


#homepage__accordion-container {
  #accordion-inner {
    .accordion {
      h3 {
        padding: 10px 10px 0px 10px;
        cursor: pointer;
        margin: 0px;
        width: 100%;
        box-sizing: border-box;
      }

      .accordion__body {
        padding: 0px 28px;
        max-width: 500px;
        font-weight: 300;
      }

      .arrow {
        transition: transform 200ms ease-in-out;
      }

      &.active {
        h3 {
          font-weight: 800;
        }
        img.arrow {
          transform: rotate(90deg);
          transform-origin: center;
        }

        .accordion__body  {
          height: 73%;
        }
      }
    }
  }
}

#types-of-errors-img {
  @include breakpoint(md) {
    height: 550px;
  }
}

.inner-img {
  margin-top: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// new accordion for our work page

.acc-container {
  overflow: hidden;
}

.acc-btn {
  width: 100%;
  cursor: pointer;

  // > h1 {
    
  // }
}

.acc-content {
  height: 0;
  width: 100%;
  overflow: hidden;

  &.open {
    height: auto;
  }
}

// styles for ourwork accordion


#ourwork__accordion-container {
  .acc-btn > h1 {
    color: color(green);
    padding: 10px 10px 10px 25px;
    font-weight: 300;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;

    &.selected {
      font-weight: 800; 
    }
  }

  .acc-content-inner {
    padding: 30px 25px;
    font-weight: 300;
    // height: 490px;
  
    @include breakpoint(md) {
      height: 351px;
      padding: 10px 25px;
    }
  }
}

// styles for homepage accordion

#homepage__accordion-container {
  .acc-btn > h1 {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;

    img.arrow {
      transition: transform 200ms ease-in-out;
    }

    &.selected {
      font-weight: 800;
      
      img.arrow {
        transform: rotate(90deg);
        transform-origin: center;
      }
  
      // .accordion__body  {
      //   height: 73%;
      // }
    }
  }

  .acc-content-inner {
    padding: 0px 28px;
    max-width: 500px;
    font-weight: 300;

    .ref {
      // visibility: hidden;

      &.selected {
        visibility: visible;
      }
    }
  }
}