.carousel-careers-news {
	.carousel-cell {
		width: 100%;
		border: none;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;

		p {
			margin-left: auto;
			margin-right: auto;

			@include breakpoint(md) {
				max-width: 60%;
			}
		}
	}

	.flickity-page-dots {
		bottom: -65px !important;
	}
}

.careers-top {
	padding-top: 200px;
}

.carousel-careers-buttons.mobile {

	@include breakpoint(md) {
		display: none;
	}
	
	button {
		background: transparent;
	    border: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
}

.carousel-careers-buttons.desktop {
	display: none;
		visibility: hidden;

	@include breakpoint(md) {
		visibility: visible;
	}

	button {
		z-index: 1;
		background: transparent;
	    border: none;
	    -webkit-box-shadow: none;
		box-shadow: none;

		margin-top: 15%;

		@include breakpoint(mxl) {
			margin-top: 10%;
		}

	}

	.button--previous {
		left: 60px;
	}

	.button--next {
		right: 60px;		
	}
}

.desktop.careers-button-row {
	margin: 0 auto;
	position: relative;
	bottom: 50px;
	width: 100%;
    flex-flow: row wrap;
    display: flex;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;

	@include breakpoint(md) {
		bottom: 100px;
	}
	
	.button-group--cells {
		.dot {
			display: inline-block;
    		height: 10px;
    		width: 10px;
    		border: 1px solid color(green);
    		background-color: transparent;
    		border-radius: 50%;
    		cursor: pointer;
    		margin-right: 5px;
		}
	}

	.button--next, .button--previous {
		cursor: pointer;
	}
}

.careers-news .flickity-page-dots .dot {
	background-color: color(green);
}

.careers-positions {
	#recruitee-careers {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;

		.rt-theme-light.rt-body{
			border-radius: 0px;
			border-right: none;
			border-bottom: none;
			border-left: none;
			box-shadow: none;

			.rt-list__header {
				padding-top: 5px;

				@include breakpoint(md) {
					float: left;
				}
			}

			.rt-list__items {
				border-top: 1px solid color(green);

				@include breakpoint(md) {
					padding-left: 30%;
				}

				// .rt-list__offer-item + .rt-list__offer-item {
				.rt-list__offer-item  {
					
				}

				.rt-list__offer-item {

					margin-top: 0;
					padding: 1.5em 0;
					transition: 0.25s;

					@include breakpoint(md) {
						padding-left: 2em;
					}

					&:hover, &:focus, &:active {
						// border: 10px solid white;
						// padding: 15px;
						box-shadow: 5px 5px 50px -3px rgba(color(green), 0.1);
						// background: transparent;
					}

					.rt-icon-arrow-forward {
						bottom: 1.5em;
						// padding: 15px;
						display: none;

						// @include breakpoint(md) {
						// 	display: block;
						// }
						
					}

					.rt-icon-arrow-forward:before {
						content: 'View Job  →';
						font-family: 'Poppins';
						font-size: 14px;
						padding: 15px;
						border: 1px solid #EAEAEA;
						border-radius: 100px;
					}


					.rt-list__offer-location {
						color: color(gray);
					}

					&:hover, &:focus, &:active {
						.rt-list__offer-title {
							text-decoration: none;
						}
						.rt-list__offer-location {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

#recruitee-careers-details-container .rt-theme-light.rt-body, #recruitee-careers .rt-theme-light.rt-body {
	border: none !important;
}

#recruitee-careers .rt-theme-light .rt-list__header--root:not(:first-child) {
	border-top-color: none !important;
	border: none !important;
}

.careers-positions #recruitee-careers .rt-theme-light.rt-body .rt-list__header {
	margin-top: 1.7255em;
}

.careers__benefits {

	ul li:not(:last-child) {
	padding-bottom: 20px;
	}

	.benefits-list ul {
		list-style: disc;
		text-transform: uppercase;
	}

	.benefits__img {
		height: 100%;
		width: 100%;
	}

	.row {
		@include breakpoint(md) {
			display: flex;
			align-items: stretch;
		}

		.image-wrapper {
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.carousel-careers {
	display: none;

	@include breakpoint(md) {
		display: block;
	}

	.carousel-cell {
		@include breakpoint(md) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.flickity-slider {
		transform: translateX(0) !important;
	}
}

figure.display--mobile.mobile-image-slider {
	img {
		width: 100%;
	}
}