.mini-cta {
	a {
		    border-bottom: 1px solid;
	}
}

.cta-image {
	background-size: 0px 0px;
	background-repeat: no-repeat;
	background-position: left;

	color: color(green);

	@media screen and (min-width: 1000px) and (orientation: portrait) {
		background-position-y: center;
		background-position-x: 41%;
	}

	@include breakpoint(md) {
		min-height: 85vh;
		color: color(white);
		background-size: cover;
	}

	.text {
		@include breakpoint(md) {
			max-width: 500px;
		}
	}
}

.cta-text {
	img {
		max-width: 125px;
	}
}

img.quote-image {
	max-width: 125px;
}

.cta-2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;

	// background-position: center;

	color: color(green);

	@media screen and (min-width: 1000px) and (orientation: portrait) {
		background-position-y: center;
		background-position-x: 41%;
	}

	@include breakpoint(md) {
		min-height: 85vh;
		background-image: url('/assets/covera-employer-footer-new@2x.jpg');
		color: color(white);
	}

	.text {
		@include breakpoint(md) {
			max-width: 500px;
		}
	}

}

.cta-3 {
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;

	color: color(green) !important;

	@include breakpoint(md) {
		min-height: 85vh;
		background-image: url('/assets/cta-3-bg.jpg');
		color: color(white) !important;

	}

	.text {
		@include breakpoint(md) {
			max-width: 500px;
		}
	}
}