body {
	background: color(white);
	color: color(green);

	max-width: 3000px;
	margin: 0 auto;

	&.interior {

		header {
			color: (white);
		}

	}
}

header, .header {
	    z-index: 1;
    position: absolute;
    width: 100%;
}

.partners-top, .limit-width {
	@include breakpoint(xxl) {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

.shape-bg {
	background-image: url('/assets/shape-bg.jpg');
	background-repeat: no-repeat;
	background-position: -275px -70px;
}

.shape-bg2 {
	background-image: url('/assets/shape-bg2.jpg');
	background-repeat: no-repeat;
	background-position: -235px -125px;
}

.shape-bg3 {
	background-image: url('/assets/shape-bg3.jpg');
	background-repeat: no-repeat;
	background-position: -475px -500px;
}

.shape-bg4 {
	background-image: url('/assets/shape-bg4.jpg');
	background-repeat: no-repeat;
	background-position: -275px -100px;
}

.shape-bg5 {
	background-image: url('/assets/shape-bg5.jpg');
	background-repeat: no-repeat;
	background-position: -675px -650px;
}

.shape-bg6 {
	background-image: url('/assets/shape-bg6.jpg');
	background-repeat: no-repeat;
	background-position: -275px -150px;
}

.shape-bg7 {
	background-image: url('/assets/shape-bg7.jpg');
	background-repeat: no-repeat;
	background-position: -475px -450px;
}

.shape-bg8 {
	background-image: url('/assets/shape-bg8.jpg');
	background-repeat: no-repeat;
	background-position: -475px -450px;
}

.shape-bg9 {
	background-image: url('/assets/shape-bg9.jpg');
	background-repeat: no-repeat;
	background-position: -475px -450px;
}

.top {
	margin-top: -105px;
	padding-top: 105px;
}

.border-bottom {
	border-bottom: 1px solid;
}

.o75 {
	opacity: .75;
}

form {

	input, select {
		background-color: transparent;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid color(blue-gray);
		border-left: none;
		// color: color(white);
		width: 100%;
		font-size: 1em;
		// padding-bottom: 5px;
		// margin-bottom: 15px;
		line-height: 56px;
	}

	textarea {
		background-color: transparent;
		border: 1px solid color(blue-gray);
		// color: color(white);
		width: 100%;
		font-size: 1em;
		// padding-bottom: 5px;
		// margin-bottom: 15px;
		// line-height: 56px;

	}

	input {
		&::-webkit-input-placeholder {
		  color: color(blue-gray);
		  opacity: 1;
		}

		&:-ms-input-placeholder {
		  color: color(blue-gray);
		  opacity: 1;
		}

		&::placeholder {
		  color: color(blue-gray);
		  opacity: 1;
		}
	}

	.select-selected, .select-selected:first-of-type {
		color: color(blue-gray);
	}
	// .select-selected, .custom-select select, .select-selected:first-of-type {
	// 	color: color(blue-gray);
	// }

	button {
		width: 100%;
		background-color: color(white);
		border: none;
		border-radius: 5px;
		color: color(green-dark);
		text-transform: uppercase;
		padding: 15px 0px;
	}
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

// html.no-touch .custom-select select {
// 	// position: absolute;
// 	// opacity: 0;
// 	// z-index: -999999;
// 	display: none;
// }

html.touch {
	.select-selected, .select-items {
		display: none;
	}
}


html.no-touch .custom-select select {
	// display: none; /*hide original SELECT element: */

	position: absolute;
	opacity: 0;
	z-index: -999999;
}
// .custom-select select {
// 	// display: none; /*hide original SELECT element: */

// 	position: absolute;
// 	opacity: 0;
// 	z-index: -999999;
// }

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: color(white) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  padding: 14px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent color(blue-gray) transparent;
  cursor: pointer;
}

.select-selected {
	padding-left: 0px;
	color: color(blue-gray);
}

/* Style items (options): */
.select-items {
  position: absolute;
  color: color(green-dark);
  background-color: color(white);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-cell {
  width: 28%;
//   height: 500px;
  border-right: 1px solid color(gray-light);
  counter-increment: gallery-cell;
  padding-left: 50px;
  padding-right: 50px;

	@include breakpoint(md) {
		height: 500px;	
	}
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}

.carousel-careers {
	.carousel-cell {
	  width: 33%;
	//   height: 500px;
	  border-right: none;
	  counter-increment: gallery-cell;
	  padding-left: 15px;
	  padding-right: 15px;

	@include breakpoint(md) {
		height: 500px;
	}

	}
}

.active {
	font-weight: 800;
}

// image negative margin

.neg-margin--150 {
	@include breakpoint(md) {
		margin-top: -150px;
	}
}

.neg-margin--100 {
	@include breakpoint(md) {
		margin-top: -100px;
	}
}

// min height media queries

.mh100 {
	@include breakpoint(md) {
		min-height: 100vh;
	}

	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}
}

.mh99 {
	@include breakpoint(md) {
		min-height: 99vh;
	}

	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}
}

// responsive type adjustments

p {
	font-size: 14px;
	line-height: 24px;

	@include breakpoint(md) {
		font-size: 16px;
		line-height: 30px;
	}
}

body.noScroll {
	overflow: hidden;
	max-height: 100vh;
}

// sticky sidenav color changing

.link-three {
	// color: rgb(0, 255, 255); 
}

.fixedScroller-fixed-side.fixed {
    // mix-blend-mode: screen;
}

.something {
	color: color(green) !important;
}

.v-white {
	color: color(white) !important;
}


// Providers > QCC Popup
// modal popup

.modalContainer {

	&--closing {
		transition: 200ms ease-in-out;
	}

	position: fixed;
	top: 35%;
	left: 50%;

	top: 0;
	left: 0;

	width: 100vw;

	visibility: hidden;

	&.modalContainer--ref {
		z-index: 1000;
		height: 100vh;
	}
}

.modal {
	// width: 100vw;
	// height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 500ms linear;
	height: auto;
	// width: 400px;
	width: 740px;
	margin-left: -360px;
	margin-top: -150px;

	background-color: white;
	// padding: 25px;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);

	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}

	&.modal--about {
		width: 90%;
		min-width: 250px;

		margin-left: -150px;
		margin-top: 150px;

		@include breakpoint(sm) {
			width: 85%;
		}

		@include breakpoint(md) {

		}

		@include breakpoint(lg) {

		}

		header p {
			width: initial;
		}

		.close {
			right: -60px;
			right: -20px;
		}

		.modal__text {
				max-height: 50vh;
				overflow-y: auto;
				padding-bottom: 30px;

			@include breakpoint(sm) {
				max-height: none;
				overflow-y: auto;
				padding-bottom: 0;
			}
			
			@media screen and (orientation: landscape) and (max-width: 960px) {
				max-height: 50vh;
				overflow-y: auto;
				padding-bottom: 80px;
			}
		}
	}

	&.modal--ref {
		margin-top: 0;

		// min-width: 300px;
		// z-index: 500;

		@include breakpoint(md) {
			width: 30%;
		}

		.modal__text {
			padding-bottom: 0;
			
			a {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.number {
					margin-right: 0.75rem;
				}
			}

			
		}

		// left: 50%;

		// margin-left: -175px !important;
	}

	&.modal--active {
		// display: block;
		// animation-name: fadeIn;
		// animation-duration: 0.65s;

		visibility: visible;
		opacity: 1;
		  
		transition: visibility 0.25s, opacity 500ms linear;

	}
	
	&.modal--closing {
		
		animation-name: fadeOut;
		animation-duration: 0.75s;
	}
	
	header {
		position: relative;
		p {
			width: 425px;
			// margin: 0 auto;
			line-height: 30px;
		}

		.close {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			// padding: 25px;
			color: gray;

			position: absolute;
			color: #000;
			top: -80px;
			right: -110px;
			background: transparent;
			border: 1px solid white;
			color: white;
			padding: 20px;
			height: 25px;
			width: 25px;
			border-radius: 50%;
		}
	}

	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: space-between;

		.module {
			width: 45%;

			i {
				display: flex;
				justify-content: center;
				vertical-align: center;
				color: #FFFFFF;
				letter-spacing: 0.35px;
				line-height: 24px;
				border-radius: 50%;
				padding: 15px;
				height: 30px;
				width: 30px;
			}

			&:nth-of-type(1) i { background: color(green); }
			&:nth-of-type(2) i { background: color(purple-dark); }
			&:nth-of-type(3) i { background: color(blue-royal); }
			&:nth-of-type(4) i { background: #723A46; }

		}
	}


}

.pull-right {
	float: right;  
}

.icon {
	display: inline-block;
	font-size: inherit;
	font-family: 'ios7-icon';
	margin-right: 5px;
	color: inherit;
	-webkit-text-rendering: geometricPrecision;
	-moz-text-rendering: geometricPrecision;
	-ms-text-rendering: geometricPrecision;
	-o-text-rendering: geometricPrecision;
	text-rendering: geometricPrecision;
}

// partners nav dropdown

.nav--partners i {
	font-size: 18px;
	vertical-align: middle;
}

.nav--partners {
	position: relative;

}

.nav--partners__dropdown {
	position: absolute;
	// width: 100%;
	// top: 0;
	// left: 0;
	display: grid;
	grid-template-columns: 1fr;

	a {
		padding-right: 0 !important;
		padding-bottom: 30px;
	}
}

.dropdown-toggle {
	cursor: pointer;
}

.dropdown-container {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: none;

	&--active {
		display: block;
	}
}

.dropdown {
	position: relative;
	// left: -78px;
	// left: 78px;

	@include breakpoint(md) {
		right: calc(300px + 3.5vw);
	}
	
	@include breakpoint(lg) {
		right: calc(320px + 3.0vw);
	}
	
	@include breakpoint(xl) {
		right: calc(250px + 3.5vw);
	}
	
	a {
		display: block;
	}

	.dropdown__item {
		// padding-right: 0 !important;
		// margin-left: -100px;
	}
}

// .details {
// 	cursor: pointer;
// }

// .eventDetails {
// 	display: none;

// 	&--active {
// 		display: block;
// 	}
// }

// cookies banner

.cookie-banner {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  cursor: pointer;
}

// Gated Page Styles

.gated {
	.subheading {
		text-transform: uppercase;
	}
}

// fixed scroller on About and News

.side-scroller {
	visibility: hidden;

	@include breakpoint(md) {
		visibility: visible;
	}
}

.newClass {
	background: red;
	opacity: 0.5;
}

// disabling wow animations on mobile

.wow {

	@media screen and (max-width: 960px) {
		visibility: visible !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	
  }

  // gated page form styling

  .form-all {
	  font-family: Poppins;
  }

  .form-container {
	  .report-access {
		//   font: {
		// 	  family: Poppins;
		// 	  weight 600;
		// 	  size: 14px;
		//   }
	  }
  }



  .gated-form {
	  input, select, textarea {
		// background-color: transparent;
		// border-top: none;
		// border-right: none;
		border-bottom: 1px solid color(green);
		// border-left: none;
		width: 100%;
		// font-size: 1em;

		font: {
			family: 'Poppins';
		}		
	  }


	&.providers  {
		input, select, textarea {
			border-bottom: 1px solid #7EA7AC;
		}

		input {
			color: white;

			&::placeholder {
				color: rgba(white, 0.5);
				opacity: 1;
			}

			&::-webkit-input-placeholder {
				color: rgba(white, 0.5);
				opacity: 1;
			}
	
			&:-ms-input-placeholder {
				color: rgba(white, 0.5);
				opacity: 1;
			}
		}

		select {
			// color: rgba(white, 0.5);
		}
	}

	  select {
		  height: 59px;
		  border-radius: 0;
		  -webkit-appearance: none;
		//   color: #80A7AC;
	  }

	  textarea {
		  padding: 20px;
		  border-radius: 6px;
		//   color: #7EA7AC;
	  }

	  button {
		  border: 1px solid color(green);
		  border-radius: 6px;
		  font-size: 14px;
		  font-weight: 600;
		  text-transform: uppercase;
	  }

	  .form-sub-label-container {
		  width: 45%;
	  }
  }

  .plain-text {

  	h2 {
	    padding-bottom: 20px;
	    padding-top: 20px;
	    font-size: 28px;
	    line-height: 44px;
	    font-weight: 300;

	    @include breakpoint(md) {
	    	padding-right: 100px;

	    }
	}

	  p {
		  margin-bottom: 1.25rem;
	  }

	  strong {
		  font-weight: 600;
	  }

	  ul {
		  list-style: disc;
	  }
  }

  .display--desktop {
	display: none !important;
	@include breakpoint(md) {
		display: inline-block !important;
	}
  }

  .display--mobile {
	@include breakpoint(md) {
		display: none !important;
	}
  }

  // top section's headline mobile font size

  .top__subtitle {
	  font-size: 14px;
	  line-height: 24px;
  }

  .display--desktop {
	display: none !important;
	@include breakpoint(md) {
		display: inline-block !important;
	}
  }

  .display--mobile {
	@include breakpoint(md) {
		display: none !important;
	}
  }

  .atrophy {
	  @include breakpoint(md) {
		max-width: none;

	  }
  }

  // custom styling for select dropdowns

  /* The container must be positioned relative: */
.custom-select {
	position: relative;
	// font-family: Arial;
  }
  
  .custom-select select {
	// display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
	// background-color: DodgerBlue;

	&:nth-of-type(1) {
		display: none;
	}
  }
  
  
  /* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	top: 26px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
	border-color: red transparent transparent transparent;
  }

  // custom arrow color 
  .about__form .select-selected:after {
	border-color: color(green) transparent transparent transparent;
  }
  .about__form .select-selected.select-arrow-active:after {
	border-color: transparent transparent color(green) transparent;
  }

  .about__form {
	  input, textarea {
		  color: color(green);
	  }

	//   .custom-select select {
	// 	color: color(blue-gray);

	// 	&.custom-color {
	// 		color: color(green);
	// 	}
	//   }
  }

  

  .about__form .select-selected {
	&.custom-color {
	  color: color(green);	  
	}
}
  
  .providers__form .select-selected:after {
	border-color: rgba(white, 0.5) transparent transparent transparent;
  }
  .providers__form .select-selected.select-arrow-active:after {
	border-color: transparent transparent rgba(white, 0.5) transparent;
  }

  .providers__form .select-selected {
	  &.custom-color {
		color: color(white);	  
	  }
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
	// border-color: transparent transparent #fff transparent;
	// border-color: transparent transparent red transparent;
	top: 7px;
	top: 13px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
	// color: #ffffff;
	// color: 
	// padding: 8px 16px;
	// border: 1px solid transparent;
	// border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	// border-color: color(green-x-light);
	cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
	max-height: 300px;
	overflow: scroll;

	position: absolute;
	
	background-color: color(white);


	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;

	border: 1px solid color(green-x-light);


  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: color(gray-x-light);
  }

  // custom styles for autofill state

  .about__form, .gated__form {
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
	//   border: none;
	-webkit-text-fill-color: color(green);
	//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: background-color 5000s ease-in-out 0s;
	}
  }
  
  .providers__form {
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
	//   border: none;
	-webkit-text-fill-color: white;
	//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: background-color 5000s ease-in-out 0s;
	}
  }

  // fixing curviness of the inputs

  input, textarea {
	  -webkit-appearance: none;
	  border-radius: 0;
	  box-shadow: none;
	  -webkit-box-shadow: none;
  }

  // Modal Popups for references

  .ref-toggle {
	  cursor: pointer;
  }

  sup {
	  font-size: 70%;
	  position: relative;
	  top: -.5em;
  }

  .invisible-text {
	  opacity: 0;
  }

  // applied to all carousels so that they don't overlap popups
  .flickity-slider {
	//   z-index: -10;
  }

  // landing page for video

  .landing {
	  .landing__button {
		border: 1px solid #005C62;
		border-radius: 6px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;

		width: 100%;
		background-color: #FFFFFF;
		color: #005B61;
		padding: 15px 25px;
	  }
  }

  // webP support rules

  .no-webp .img--webp {
	  display: none;
  }

  .webp .img--fallback {
	  display: none;
  }

  html.no-touch {
	.show-touch {
		display: none;
	}
  }
  