.employers-top {
	padding-top: 200px;
}

html.touch {
	.employers-top {
		background-color: color(green-mobile);
	}

	.employers-video {
		display: none;
	}
}

html.no-touch {
	.employers-top {
		background-color: color(green-new);
	}
	.employers-gif {
		display: none;
	}
}

.scrolly-row {
	@include breakpoint(md) {
		position: relative; z-index: 0;
	}
}

.random {
	@include breakpoint(md) {
		position: relative;
	}
}

.griddy {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;

}

.carousel-employers {
	.flickity-viewport {

		min-height: 600px;

		@include breakpoint(md) {
			height: 770px !important;
			min-height: 93vh;

			padding-right: 16px;
		}

	}

	.flickity-slider {
		display: flex;
  		align-items: flex-start;
	}

}

// image next to the slider

.woman-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	.employers-woman {
		max-width: 100%;
		visibility: hidden;
		margin-left: -200px;

		@include breakpoint(md) {
			min-height: 100vh; 
			max-height: 100vh; 
			max-width: none;
			width: auto;
			visibility: visible;
		}

		@include breakpoint(xl) {
			margin-left: 0px;
		}

		@include breakpoint(xxl) {
			min-height: 1000px;
			max-height: 1000px;
		}
	}

}

.employers__scroller > .row {

	@include breakpoint(md) {
		display: flex;
		align-items: stretch;
	}

	.flickity-page-dots {
		bottom: -66px;

		@include breakpoint(md) {
			bottom: -25px;
		}
	}
	
}

.carousel-employers .carousel-cell {
	width: 100%;
	border: none;
	height: auto;
	padding-left: 50px;
	padding-right: 50px;
	top: 20%;

	&.first-slide {

		@include breakpoint(sm) {
			top: 25%;
		}

		@include breakpoint(md) {
			top: 30%;
		}

	}

	p {
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(md) {
			max-width: 75%;
		}
	}

	&.last-slide {
		top: 4%;

		@include breakpoint(xs) {
			top: 8%;
		}
		
		@include breakpoint(md) {
			top: 15%;
		}
	}
}

.carousel-employers .flickity-page-dots .dot {
	margin-bottom: 100px;
	border: 1px solid color(white);
	border: 1px solid color(green);
	background-color: transparent;
	opacity: 1;

	&.is-selected {
		background-color: color(white);
		background-color: color(green);
	}
}

.employers-button-row {
	margin: 0 auto;
	position: relative;
	bottom: 50px;
	width: 100%;
    flex-flow: row wrap;
    display: flex;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;

	@include breakpoint(md) {
		bottom: 100px;
	}
	
	.button-group--cells {
		.dot {
			display: inline-block;
    		height: 10px;
    		width: 10px;
    		border: 1px solid color(green);
    		background-color: transparent;
    		border-radius: 50%;
    		cursor: pointer;
    		margin-right: 5px;
		}
	}

	.button--next, .button--previous {
		cursor: pointer;
	}
}

#para-content {

	.sans--medium-large {
		position: relative;
	}

	.sans--medium-large::before {
		position: absolute;
		left: -60px;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 40px;
		width: 40px;

		border-radius: 50%;

		background: color(green);
		color: color(white);

		font: {
			size: 18px;
			weight: 600;
		}

		@include breakpoint(md) {
			left: -150px;
		}
	}

	#head::before {
		content: '1';
	}
	#head2::before {
		content: '2';
	}
	#head3::before {
		content: '3';
	}

	.sans--small {
		position: relative;
	}

	.sans--small:not(:nth-of-type(3))::before {
		content: '';
		position: absolute;
		left: -40px;
		height: 80%;
		width: 5px;
		border-left: 2px dotted color(green);

		@include breakpoint(md) {
			height: 100%;
			top: 5%;
			left: -130px;
		}

		@include breakpoint(xl) {
			top: 10%;
		}
	}
}

.carousel-employers-buttons {
	z-index: 1; 
	width: 100%;

	@include breakpoint(md) {
		width: 47%;

	}

	button {
		background: transparent;
	    border: none;
	    -webkit-box-shadow: none;
		box-shadow: none;

		margin-top: 50vh;

		@include breakpoint(xxl) {
			margin-top: 38vh;
		}
	}

	.button--previous {
		left: 12px;
		@include breakpoint(xl) {
			left: 60px;	

		}
	}

	.button--next {
		right: 30px;
		@include breakpoint(xl) {
			right: 60px;
		}
	}

	

}

@media screen and (max-width: 800px) and (orientation: portrait) {
	.carousel-employers-buttons button {
		margin-top: 20vh;
	}
}

@media screen and (max-width: 750px) {
	.carousel-employers-buttons button {
		margin-top: 50vh;
	}
}