.fixedScroller-fixed-side {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	.col {
		overflow: hidden;
	}

	&.fixed {
		position: fixed;
	}
}

.fixedScroller-fixed-side.color--green.side-scroller {
	@media screen and (min-width: 1000px) and (orientation: portrait) {
		top: 27vh !important;
	}
}