.healthplans-top {
	padding-top: 200px;
	// background-color: color(purple-mobile);

	@include breakpoint(md){
		// background-color: color(purple-new);
	}
}

html.touch {
	.healthplans-top {
		background-color: color(purple-mobile);
	}

	.healthplans-video {
		display: none;
	}
}

html.no-touch {
	.healthplans-top {
		background-color: color(purple-new);
	}
	.healthplans-gif {
		display: none;
	}
}

.quality-header {
	
	text-align:center;

	p {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	&.one {
		background-image: url('/assets/healthplans-2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: bottom;
	}
	&.two {
		background-image: url('/assets/healthplans-3.jpg');
		background-size: cover;
		background-repeat: no-repeat;

	}
}


.middle-aged-couple {
	@include breakpoint(md) {
		margin-top: -150px;
	}
}

.quality-container {
	border-radius: 15px;
	box-shadow: 0px 10px 30px rgba(0,0,45,.15);

	position: relative;

	bottom: -40px;

	@include breakpoint(md) {
		bottom: -80px;
	}
}


.quality-container .bg--white {
	@include breakpoint(md) {
		// height: 235px;
	}
}

.white-box {
	@include breakpoint(xl) {
		// height: 200px;
		height: 230px;
	}
}