.home-top {
	background-size: 165%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: none;
	background-position-y: -50px;
	background-position-x: -50px;
	min-height: 65vh;

	@include breakpoint(md) {

		background-size: cover;
		background-position-y: 0px;
		background-position-x: center;
		margin-bottom: 0;

		min-height: 88vh;

	}


	@include breakpoint(xxl) {
		min-height: 75vh;
	}

	.top-img {
		max-width: 100%;
	}

	.desktop-text {
		display: none !important;

		@include breakpoint(md) {
			display: inline-block !important;
		}
	}
	
}

.grid-container.flush.home__top {
	padding-top: 107px;
	.mobile-text {
		@include breakpoint(md) {
			display: none;
		}
	}
}

.mobile-img.home {
	overflow: hidden;
	margin-bottom: 30px;
	img {
		width: 170%;
	}
}

.desktop-header {
	display: none;

	@include breakpoint(md) {
		display: inline-block;
		max-width: 800px;
	}
}

.mobile-header {

	@include breakpoint(md) {
		display: none;
	}
	background: white;
}


.homepage-accordion {
	background-size: 0px 0px;
	background-position: top center;
	background-repeat: no-repeat;
	overflow-y: hidden;
	min-height: 55vh;
	color: color(green);


	@include breakpoint(md){
		background-position: top -50px;
		min-height: 85vh;
		color: color(white);
		background-size: cover;
	}

	@include breakpoint(xxl) {
		min-height: 75vh;
		background-position: top left;
	}


	hr {
		width: 80%;
		display: none !important;

		border: 0;
		background: color(white);
		height: 1px;	

		@include breakpoint(md) {
			display: inline-block !important;
		}
	}

}

.about-section {
	img {
		max-height: 120px;
		width: auto;
	}
}

.carousel-latest-content {

	@include breakpoint(mxl) {
		.flickity-viewport {
			// height: 75vh !important;
			height: 600px !important;
		}
	}

	@include breakpoint(lgx) {
		.flickity-viewport {
			height: 90vh !important;
			// height: 75vh !important;
			height: 700px !important;
		}
	}

	.carousel-cell {
		width: 50%;
		border-right: 1px solid color(gray-light);
		counter-increment: gallery-cell;
		padding-left: 20px;
		padding-right: 20px;
	  	

	    img.news-item-img {
		  	width: 100%;
		}

		@include breakpoint(md) {
			width: 28%;
			padding-left: 50px;
	  		padding-right: 50px;
	   }
	}
}

.carousel-latest-content-buttons {
	button {
		background: transparent;
		border: none;
		box-shadow: none;

		img {
			opacity: .5;
		}

		&:hover {
			img {
				transition: opacity 200ms ease-in-out;
				opacity: 1;
			}
		}
	}
}


.cta {

	background-size: cover;
	background-position: top center;

	background-repeat: no-repeat;
	color: color(green);

	margin-top: -100px;

	@include breakpoint(sm) {
		margin-top: 0;
	}

	@include breakpoint(md) {
		background-position-y: top;
	background-position-x: 32%;

		color: color(white);
		min-height: 85vh;
	}

	@include breakpoint(xxl) {
		min-height: 75vh;
	}



	.text {
		@include breakpoint(md) {
			max-width: 500px;
		}
	}

	.mobile-img {
		margin-top: 30px;
	}
}

.mobile-img {
	@include breakpoint(md) {
		display: none;
	}

	img {
		width: 100%;
	}
}

#download-button {
	// display: flex;
    // justify-content: center;
    // flex-flow: row wrap;
	// align-items: center;
	
	// .down-arrow {
	// 	@media screen and (min-width: 360px) {
	// 		margin-left: 10px;
	// 	}
	// }
}