.news-top {
	padding-top: 200px;
	overflow-y: hidden;

	@include breakpoint(md) {
		position: relative;
	}

	.col--whitepaper {
		img {
			max-width: 400px;
		}

		@include breakpoint(md) {
			position: absolute;
			bottom: 0;
		}
	}
}

// .carousel-news-wrapper {
// 	padding-right: 0 !important;

// 	@include breakpoint(md) {
// 		padding-right: 15px !important;
// 	}
// }

.carousel-news-wrapper {
	display: flex;
	flex-direction: column;

	.carousel-cell {
	  width: 25%;
	  // height: auto;
	  position: relative;
	  border-right: none;
	  counter-increment: gallery-cell;
	  padding-bottom: 25px;
	  margin-bottom: 50px;

	  @include breakpoint(md) {
		padding-left: 15px;
		padding-right: 15px;
	  }


	  img {
		  max-width: 100%;
	  }

	  .news-item-img {
		  width: 100%;
		  max-width: 80vh;
	  }

	  

	  .btn-large {

	  	@include breakpoint(md){
			position: absolute;
			bottom: -20px;
		}
	  }

	}
}
.carousel-news {
	display: flex;
	flex-direction: column;

	@include breakpoint(md) {
		flex-direction: row;
	}

	.carousel-cell {
	  // width: 100%;
	  width: 100%;
	  height: auto;
	//   height: 500px;
	  position: relative;
	  border-right: none;
	  counter-increment: gallery-cell;
	  padding-bottom: 25px;
	  margin-bottom: 50px;

	  @include breakpoint(md) {
		padding-left: 15px;
		padding-right: 15px;
		width: 33%;
	  }


	  img {
		  max-width: 100%;
		//   width: 100%;
	  }

	  .news-item-img {
		  width: 100%;
		  max-width: 80vh;
	  }

	  

	  .btn-large {

	  	@include breakpoint(md){
			position: absolute;
			bottom: -20px;
		}
	  }

	}
}

.carousel-news-buttons {
	button {
		background: transparent;
		border: none;
		box-shadow: none;

		img {
			opacity: .5;
		}

		&:hover {
			img {
				transition: opacity 200ms ease-in-out;
				opacity: 1;
			}
		}
	}
}

.news__top__hero {
	box-shadow: 5px 0 5px 0 rgba(black, 0.3);
	margin: 0 auto;
	width: 80%;
}

#resources .flickity-viewport {

	@include breakpoint(sm) {
		// height: auto !important;
		// height: none !important;
	}

	@media screen and (max-width: 600px) {
		height: 100vw !important;
	}
}

.side-scroller {
	// z-index: -1;

	&:hover {
		// z-index: 1;
	}

	&.hidden {
		// z-index: -1;
	}

	&.clickable {
		z-index: 1;
	}
}

#news-links {
	.bb--gray-light {
		transition: 0.25s;
		&:hover {
			// box-shadow: -2px 0 3px 0 rgba(color(green), 0.3);
			box-shadow: 5px 5px 50px -3px rgba(color(green), 0.1);
		}
	}
}