.ourwork-top {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: none;
	background-position-y: -50px;
	background-position-x: 60%;
	min-height: 65vh;

	@media screen and (orientation: landscape) {
		background-position-x: 0;
	}

	@include breakpoint(smm) {
		min-height: 75vh;
		background-size: cover;
		background-position-y: 0px;
		background-position-x: center;
	}

	.desktop-text {
		display: none !important;

		@include breakpoint(md) {
			display: inline-block !important;
		}
	}
}

.ourwork__top {
	.mobile-text {
		@include breakpoint(md) {
			display: none;
		}
	}

	.partners-top {
		@media (orientation: landscape) {
			padding-top: 40px;
		}
	}
}

.key {
	li {
		line-height: 30px;
		color: color(gray);

		&:nth-of-type(1), &:nth-of-type(2) {
			color: color(green);
		}

		&:before {
			content: '';
			display: inline-block;
			margin-right: 15px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
		}

		&:nth-of-type(1):before { background: color(purple-dark); }
		&:nth-of-type(2):before { background: color(blue-royal); }
		&:nth-of-type(3):before { background: #477279; }
		&:nth-of-type(4):before { background: #5D8087; }
		&:nth-of-type(5):before { background: #749096; }
		&:nth-of-type(6):before { background: #A1B1B6; }
	}

}

.key-wrapper {

	.right-key {
		float: none;
	}


	@include breakpoint(sm) {
		width: 60%; 
		margin-left: auto; 
		margin-right: auto;

		.left-key {
			width: 55%;
			display: inline-block;
		}
		.right-key {
			width: 40%;
			display: inline-block;
		}
	}

	

}

.pie-chart {
	padding: 0px 0px;

	@include breakpoint(md) {
		padding: 0px 100px;
	}
}

// mobile landscape exceptions
@media screen and (max-width: 960px) and (orientation: landscape) {
	.pie-chart {
		width: 40%;
		float: left;
	}

	.key-wrapper {
		width: 40%;
		float: right;

		.right-key, .left-key {
			display: block;
			width: 100%;
		}
	}
}

.carousel-ourwork .carousel-cell {
	width: 100%;
	border: none;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
	min-height: 80vh;
	max-height: 80vh;

	@include breakpoint(md) {
		min-height: 100vh;
		max-height: 100vh;
	}
	
	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}


	p {
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(md) {
			max-width: 60%;
		}
	}

	> div {
		min-height: 80vh;
		max-height: 80vh;

		@include breakpoint(md) {
			min-height: 100vh;
			max-height: 1000px;
		}

		@include breakpoint(xxl) {
			min-height: 1000px;
			max-height: 1000px;
		}
	}

	h2.sans--medium-large {
		@media screen and (max-width: 850px) and (orientation: landscape) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.sans--large {
		font-size: 24px;
		line-height: 36px;
	}
	
}

.carousel-ourwork-buttons  {
	// visibility: hidden;

	@include breakpoint(md) {
		visibility: visible;
	}


	button {
		background: transparent;
	    border: none;
	    -webkit-box-shadow: none;
		box-shadow: none;

		margin-top: 42vh;

		@include breakpoint(md) {
			margin-top: 55vh;
		}

		@include breakpoint(xxl) {
			margin-top: 45vh;
		}
		
		@include breakpoint(xlg) {
			margin-top: 30vh;
		}
	}

	.button--previous {
		left: 10px;
		@include breakpoint(md) {
			left: 60px;	

		}
	}

	.button--next {
		right: 10px;
		@include breakpoint(md) {
			right: 60px;
		}
	}
}

.carousel-ourwork {
	.button--next, .button--previous {
		cursor: pointer;
	}
	
	.flickity-page-dots {
		bottom: -40px;
	}
}

@media screen and (max-width: 960px) and (orientation: landscape) {
	.carousel-ourwork .flickity-page-dots {
		bottom: -65px;
	}
}


.carousel-ourwork .flickity-page-dots .dot {
	margin-bottom: 100px;
	border: 1px solid color(white);
	background-color: transparent;
	opacity: 1;

	&.is-selected {
		background-color: color(white)
	}
}

.ourwork-button-row {
	position: absolute;
	bottom: 100px;
	width: 100%;
    flex-flow: row wrap;
    display: flex;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
	
	.button-group--cells {
		.dot {
			display: inline-block;
    		height: 10px;
    		width: 10px;
    		border: 1px solid color(white);
    		background-color: transparent;
    		border-radius: 50%;
    		cursor: pointer;
    		margin-right: 5px;
		}
	}

	.button--next, .button--previous {
		cursor: pointer;
	}
}

// Accordion - Controlling weird jumping behavior of last tab

#ourwork__accordion-container {
	
	.push {
		transform: translateY(20px);
	}
}

.ba-slider {
    position: relative;
    overflow: hidden;
}

.beer-slider {

}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;

    img {
    	width: 100%;
    }
}

.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

.rangeen {
	background: #F5F9F9;
}

.ourwork__scaling {
	.headline {
		line-height: 40px;
	}
}

.woman-scrubs {
	max-width: 100%;

	@include breakpoint(md) {
		min-height: 100vh; 
		max-height: 100vh; 
		 
		max-width: none;
		width: auto;
	}

	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}
}

.mri-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;

	// height: 500px;

	@include breakpoint(md) {
		background-size: cover;
		min-height: 100vh; 
		max-height: 100vh; 
		max-width: none;
		width: auto;
	}

	@include breakpoint(xxl) {
		min-height: 1000px;
		max-height: 1000px;
	}

	img {
		visibility: hidden;
	}
}

// CD Before - After slider

.touch .cd-image-container {
	display: none;
}

.touch-img {
	display: none !important;
}

.touch .touch-img {
	display: block !important;
	width: 103%;
	max-width: none !important;
}

.cd-image-container {
	position: relative;
	width: 100%;
	max-width: 768px;
	margin: 0em auto;

	// @media (hover: hover) {
	// 	display: none;
	// }
  }
  .cd-image-container img {
	display: block;
  }
  
  .cd-image-label {
	  text-align: center;
	position: absolute;
	// bottom: 0;
	// top: 0;
	top: 12px;
	// right: 0;
	right: 10px;
	background: #DAE6E5;
	color: color(green);
	padding: 5px;
	text-transform: lowercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  }
  .cd-image-label.is-hidden {
	// visibility: hidden;
  }
  .is-visible .cd-image-label {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  
  .cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .cd-resize-img img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: auto;
	max-width: none;
  }
  .cd-resize-img .cd-image-label {
	right: auto;
	left: 10px;
  }
  .is-visible .cd-resize-img {
	width: 50%;
	/* bounce in animation of the modified image */
	-webkit-animation: cd-bounce-in 0.7s;
	-moz-animation: cd-bounce-in 0.7s;
	animation: cd-bounce-in 0.7s;
  }
  
  @-webkit-keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  @-moz-keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  @keyframes cd-bounce-in {
	0% {
	  width: 0;
	}
	60% {
	  width: 55%;
	}
	100% {
	  width: 50%;
	}
  }
  .cd-handle {
	position: absolute;
	height: 44px;
	width: 44px;
	/* center the element */
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	border-radius: 50%;
	background: #dc717d url("/assets/cd-arrows.svg") no-repeat center center;
	background: color(green) url("/assets/cd-arrows.svg") no-repeat center center;
	cursor: move;
	box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	-o-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
  }
  .cd-handle.draggable {
	/* change background color when element is active */
	background-color: #445b7c;
	background-color: color(green-light);
  }
  .is-visible .cd-handle {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  }
  