.patients-top {
	padding-top: 200px;
	// background-color: color(gray-x-light-mobile);

	@include breakpoint(md) {
		// background-color: color(gray-x-light-new);
	}
}

html.touch {
	.patients-top {
		background-color: color(gray-x-light-mobile);
	}

	.patients-video {
		display: none;
	}
}

html.no-touch {
	.patients-top {
		background-color: color(gray-x-light-new);
	}
	.patients-gif {
		display: none;
	}
}

.patients-faq-container {
	box-shadow: 0px 60px 30px rgba(0,0,45,.15);

	@include breakpoint(md) {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.patients-faq {
		background-color: color(white);
		border-radius: 5px;
		position: relative;

		@include breakpoint(md) {
			bottom: -50px;
		}

	}
}

.patients__top .top {
	margin-top: -132px;
}