.providers-top {
	// background-color: color(blue-mobile);
	padding-top: 200px;

	@include breakpoint(md) {
		// background-color: color(blue-new);
	}
}

html.touch {
	.providers-top {
		background-color: color(blue-mobile);
	}

	.providers-video {
		display: none;
	}
}

html.no-touch {
	.providers-top {
		background-color: color(blue-new);
	}
	.providers-gif {
		display: none;
	}
}