button {
	cursor: pointer;
	font-family: inherit;
}

.btn {
	border-radius: 16px;
}

.btn-small {
	font-size: 14px;
	border-radius: 18px;
	padding: 5px 10px 5px 15px;
}

.btn-large {
	font-size: 14px;
	border-radius: 100px;
	padding: 10px 15px 10px 20px;
	transition: transform 200ms ease-in-out;
	border: none;

	&:hover, &:focus, &:active {
		transform: scale(.95);
	}
}

.btn-circle {
	font-size: 14px;
	border-radius: 50%;
	padding: 5px 14px;
}

