/*
// === Config Variables ===
*/

$all-colors: (
	white : #FFFFFF,
	half-white: rgba(white, 0.5),
	black : #000000,
	gray : #727272,
	gray-light : #D8D8D8,
	gray-x-light : #F5F9F9,
	gray-x-light-new : #F2F6F7,
	gray-x-light-mobile : #EFF2F5,
	// gray-x-light-mobile : #F0F4F5,
	green : #005C62,
	green-new : #2B656A,
	green-mobile : #25585E,
	green-light : #86A19E,
	green-x-light : #E9F2F2,
	green-med-light : #D9EBEB,
	green-dark : #005B61,
	green-gray : #6D9197,
	green-gray-light : #D0E3E3,
	light-blue : #F0F4F5,
	blue : #B8DDE1,
	blue-new : #2C6699,
	blue-mobile : #23588F,
	// blue-mobile : #275B8E,
	blue-royal : #005C95,
	blue-gray : #7EA7AC,
	dark-blue-gray : #6E9197,
	purple : #9595D2,
	purple-dark : #63597D,
	purple-new : #6D6684,
	purple-mobile : #605977,
	red: #AC0000
);

$breakpoints : (
	xs : 400px,
	sm : 600px,
	smx : 666px,
	smm : 810px,
	md : 960px,
	lg : 1000px,
	xl : 1200px,
	mxl : 1500px,
	lgx : 1900px,
	xxl : 2000px,
	xlg : 2400px,
);

$spacer-max: 10;
$spacer-size: 10px;

$column-size: 12;

$grid-gutter-mobile: 20px;
$grid-gutter-desktop: 30px;

$grid-gutter-extra: (
	none    : 0px,
	mobile  : $grid-gutter-mobile,
	default : $grid-gutter-desktop,
);

$grid-padding-mobile: 20px;
$grid-padding-desktop: 85px;
$grid-max-width: 1920px;

$font-size-body-mobile: 16px;
$line-height-body-mobile: 30px;

$font-size-body-desktop: 16px;
$line-height-body-desktop: 30px;

$font-size-nav-mobile: 13px;
$line-height-nav-mobile: 20px;

$font-size-nav-desktop: 13px;
$line-height-nav-desktop: 24px;

$font-family-poppins: 'Poppins', sans-serif;

/*
// === Config Getter Functions ===
*/

@function color($color-name) {
	$color-found: map-has-key($all-colors, $color-name);
	@if ($color-found == true) {
		@return map-get($all-colors, $color-name);
	} @else {
		@warn "Color " + #{$color-name} + " doesn't exist.";
	}
}

@mixin breakpoint($size) {
	$breakpoint-found: map-has-key($breakpoints, $size);
	@if ($breakpoint-found == true) {
		$breakpoint: map-get($breakpoints, $size);
		@media (min-width: #{$breakpoint}) {
			@content;
		}
	} @else {
		@warn "Breakpoint size " + #{$size} + " doesn't exist.";
	}
}

@function gutter($gutter-name) {
	$gutter-found: map-has-key($grid-gutter-extra, $gutter-name);
	@if ($gutter-found == true) {
		@return map-get($grid-gutter-extra, $gutter-name);
	} @else {
		@warn "Gutter " + #{$gutter-name} + " doesn't exist.";
	}
}