.footer {
	color: color(white);

	a {
		color: color(green-light);

		&:hover {
			transition: 200ms ease-in;
			color: color(white);
		}
	}

	.spacer {
		@include breakpoint(md) {
			display: none !important;
		}
	}

	// .top-link {
	// 	position: relative;
	// 	top: -55px;

	// 	@include breakpoint(md) {
	// 		top: -16px;
	// 	}
	// }

	.top-arrow {
		transform: translateY(4px);
	}
}