// Partner Menu

header {
	color: color(green-light);
}

img.logo {
	padding-top: 20px;
	min-width: 150px;
	max-width: 150px;
}
.partner-menu-container {
	padding-top: 30px;

	@include breakpoint(md){
		padding-top: 0px;
	}

	.partner-menu {
		display: none;
		padding-top: 50px;


		@include breakpoint(md) {
			display: inline-block;
		}

		&.open, &.clicked--open {

			.partner-menu-button {

				.arrow {
					transform: rotate(90deg);
					transform-origin: center;
				}
			}
		}

		.partner-menu-button {
			font-size: $font-size-nav-mobile;
			border: 1px solid color(green-light);
			border-radius: 16px;
			margin-right: 15px;
			padding: 5px 10px 5px 15px;

			&.one {
				padding: 5px 15px 5px 15px;
			}

			.arrow {
				transition: transform 500ms ease-in-out;
			}

			&.active {
				opacity: 1;
				visibility: visible;
			}

			&:hover {
				border: 1px solid color(green-dark);
				color: color(green-dark);

				@media (hover: hover) {
					.arrow {
						transform: rotate(90deg);
						transform-origin: center;
					}
				}
				
			}

			&.dark:hover {
				border: 1px solid color(white);
				color: color(white);
			}
		}



		&.light {
			.partner-menu-button {
				&:hover {
					border: 1px solid color(white);
					color: color(white);
				}	
			}

		}

		.partner-menu-inner {
			height: 190px;
			
			.partner-menu-button {
				opacity: 0;
				visibility: hidden;
			}

			&.open, &.clicked--open {

				.partner-menu-button {
					animation: 500ms partnerMenuAnim forwards;

					&.one {
						animation-delay: 0ms;
					}
					&.two {
						animation-delay: 200ms;
					}
					&.three {
						animation-delay: 350ms;
					}
					&.four {
						animation-delay: 450ms;
					}
				}
			}
		}
	}
}

@keyframes partnerMenuAnim {
	0% {
		opacity: 0;
	}
	2% {
		visibility: visible;
	}
	25% {
		opacity: .5;
		visibility: visible;
	}
	75% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

//
// Sticky Menu
//

.header-sticky {
	position: fixed;
	top: 0;
 	z-index: 95;
 	background-color: color(white);
 	width: 100%;
}

.hidden {
	display: none;
}

.sticky-menu {
	display: none !important;

	@include breakpoint(md) {
		display: inline-block !important;
	}

	.menu-item {
		padding-right: 40px;

		opacity: .6;

		&:hover, &:focus {
			opacity: 1;
			// transition: 700ms;
		}
	}
}

//takeover menu toggle inside sticky header

.menu-wrapper {
	display: inline-block !important;

	@include breakpoint(md) {
		display: none !important;
	}
}

//
// Takeover Menu
//

	//this is the button
.menu {
	position: relative;
	display: inline-block;
	transition: transform 200ms ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(.90);

		.menu-icon {
			transform: scale(.90);
		}
	}

	.menu-line-1, .menu-line-2 {
		transition: transform 200ms ease-in-out;
	}

	.menu-icon {
		// transition: 0.25s;
		// &.cross {
		// 	margin-right: 20px;
		// 	@include breakpoint(md) {
		// 		margin-right: 20px;
		// 	}
		// }
	}

	 &.open {

		// extra right margin on close icon
		.menu-icon {
			// margin-right: 20px;
			// @include breakpoint(md) {
			// 	margin-right: 20px;
			// }
		}

	 	.menu-btn-bg {
	 		border: none;
			// background-color: color(green);
    		// transform: scale(110);
    	}

		.menu-line-1 {
			transform: translateY(2px) translateY(50%) rotate(45deg);
		}

		.menu-line-2 {
	    	transform: translateY(-3px) translateY(-50%) rotate(-45deg);
		}
    }

    .menu-btn-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid color(green-light);
		// padding: 0px 14px;
		border-radius: 50%;
		// transition: all 500ms ease-in-out;
	}


	.menu-icon {
	    margin: auto;
	    left: 0;
	    right: 0;
	    bottom: 1px;
	    padding: 5px 15px;
	    // padding: 5px 16px;

		.menu-line {
			background-color: color(green-light);
			height: 1px;
		    width: 50%;
		    border-radius: 2px;
		    position: absolute;
		    left: 8px;
		    top: 11px;
		    // transition: transform 600ms ease-in-out;
		}

		.menu-line-2 {
	    	top: 5px;
	    	bottom: 0;
	    	margin: auto;
	    }
	}
}

.arrow--white {
	display: none !important;
}

	//this turns the button white
.white--header {
	.menu {
		.menu-btn-bg {
			border: 1px solid color(white);
		}

		&.open {
			.menu-btn-bg {
				border: 0;
			}	
		}
		.menu-icon {
			.menu-line {
				background-color: color(white);
			}
		}
	}

	.arrow {
		display: none !important;
	}

	.arrow--white {
		display: inline-block !important;
	}

	.partner-menu-container .partner-menu .partner-menu-button {
		font-size: 13px;
		border: 1px solid white;
		color: white;

		&:hover, &:focus, &:active {
			border: 1px solid rgba(255,255,255,0.7);
			color: rgba(255,255,255,0.7);
		}

	}
}

	//this is the menu
.menu-takeover {
	position: absolute;
	top: 0;
	z-index: 100;
	min-height: 100vh;
	max-height: 100vh;
	max-height: 1000px;
	width: 100%;
	opacity: 0;
	visibility: hidden;

	// &.fade-out {
	// 	animation-name: fade-out;
	// 	animation-duration: 1s;
	// 	animation-iteration-count: 1;
	// }

	// @include breakpoint(xxl) {
	// 	min-height: 1000px;
	// 	max-height: 1000px;
	// }

	.takeover-bg { 
		transition: 600ms background-color ease-in-out;

		background-color: transparent;
		color: color(white);
		height:100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.logo {
		transition: opacity 900ms ease-in-out;
		visibility: hidden;
		opacity: 0;
	}

	.menu-takeover-links {
		visibility: hidden;
		opacity: 0;
	}

	&.fadeOut {
		animation-name: fade-out;
		animation-duration: 1s;
		animation-iteration-count: 1;
	}

	&.open {
		opacity: 1;
		visibility: visible;
		overflow: hidden;
		
		// display: block !important;
		
		.menu-takeover-links {
			transition: opacity 900ms ease-in-out;
			visibility: visible;
			opacity: 1;
			height: 100%; 
			top: 0px;
    		font-size: 28px;
			line-height: 40px;

    		@include breakpoint(smx) {
			    font-size: 18px;
			    line-height: 25px;
			    top: -26px;
			}
			
			// exception for iPad portrait

			@media screen and (min-width: 767px) and (orientation: portrait) {
				font-size: 28px;
    			line-height: 40px;
			}

			@include breakpoint(md) {
				top: 100px;
				font-size: 28px;
    			line-height: 40px;
			}
		}

		.takeover-bg {
			background-color: color(green);
			color: color(white);
			height:100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.logo {
			position: relative;
			z-index: 1001;
			visibility: visible;
			opacity: 1;

		}
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		// visibility: visible !important;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

// takeover menu BG

.takeover-bg {
	background-color: color(green);
	color: color(white);
	height:120vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}