/*
// === Reset ===
*/

body {
	@include font-smoothing;
	@include body-font-size;
	font-family: $font-family-poppins;
}


//
// === Font Weight ===
//

.fw--100 {
	font-weight: 100;
}

.fw--300 {
	font-weight: 300;
}

.fw--400 {
	font-weight: 400;
}

.fw--600, strong {
	font-weight: 600;
}

.fw--800 {
	font-weight: 800;
}

.quote-attribution, .misc-info {

	p {
		opacity: .75;
	}

	p > strong {
		opacity: 1 !important;
	}
}

//
// === Sizes ===
//

.sans--x-small, .sans--x-small p {
	font-size: 13px;
	line-height: 20px;
}

.sans--caption, .sans--caption p {
	font-size: 14px;
}

.sans--small, .sans--small p {
	font-size: 12px;
	line-height: 22px;
	
	@include breakpoint(md) {
		font-size: 14px;
		line-height: 24px;	
	}
}

.sans--small-medium, .sans--small-medium p {
	font-size: 16px;
	line-height: 24px;
}

.sans--medium, .sans--medium p {
	font-size: 18px;
	line-height: 24px;
}

.sans--x-medium, .sans--x-medium p {
	font-size: 22px;
	line-height: 32px;
}

.sans--medium-large, .sans--medium-large p {
	font-size: 28px;
	line-height: 44px;
}

.sans--large, .sans--large p {
	font-size: 28px;
	line-height: 40px;

	@include breakpoint(md) {
		font-size: 36px;
		line-height: 56px;
	}
}

.sans--x-large, .sans--x-large p {
	font-size: 30px;
	line-height: 40px;

	@include breakpoint(md) {
		font-size: 50px;
		line-height: 60px;
	}
}

.sans--xx-large, .sans--xx-large p {
	font-size: 36px;
	line-height: 56px;

	@include breakpoint(md) {
		font-size: 70px;
		line-height: 80px;
	}
}

i {
	font-style: italic;
}

//
// === Utilities ===
//

.line-through {
	text-decoration: line-through;
}

.ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.line-break p {
	margin-bottom: $line-height-body-mobile;

	@include breakpoint(lg) {
		margin-bottom: $line-height-body-desktop;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}
