$sides: (
	t : top,
	b : bottom,
	l : left,
	r : right,
	j : justify,
);

$alignments: (
	l : left,
	r : right,
	c : center,
);

.grayscale { filter: grayscale(100%); }

@each $color-name, $color-value in $all-colors {
	.color--#{inspect($color-name)} {
		color: $color-value;
	}
}

@each $color-name, $color-value in $all-colors {
	.bg--#{inspect($color-name)} {
		background-color: $color-value;
	}
}

@each $color-name, $color-value in $all-colors {
	.b--#{inspect($color-name)} {
		border: 1px solid $color-value;
	}
}

@each $color-name, $color-value in $all-colors {
	@each $side-name, $side-direction in $sides {
		.b#{inspect($side-name)}--#{inspect($color-name)} {
			border-#{$side-direction}: 1px solid $color-value;
		}
	}
}

@each $alignment-name, $alignment-direction in $alignments {
	.t#{$alignment-name} {
		text-align: #{$alignment-direction};
	}
}

@each $alignment-name, $alignment-direction in $alignments {
	@each $breakpoint-name, $breakpoint-size in $breakpoints {
		@media (min-width: #{$breakpoint-size}) {
			.t#{$alignment-name}--#{$breakpoint-name} {
				text-align: #{$alignment-direction};
			}
		}
	}
}

.db  { display: block !important; }
.dn  { display: none !important; }
.di  { display: inline !important; }
.dib { display: inline-block !important; }

.pr  { position: relative; }
.pa  { position: absolute; }
.ps  { position: static; }

.full-width {
	display: block;
	width: 100%;
}

.db--md  { 
	@include breakpoint(md){
		display: block !important; 
	}
}

.dn--md  { 
	@include breakpoint(md){
		display: none !important; 
	}
}

.db--mxl  { 
	@include breakpoint(mxl){
		display: block !important; 
	}
}


@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@media (min-width: #{$breakpoint-size}) {
		.full-width--#{$breakpoint-name} {
			display: block;
			width: 100%;
		}
	}
}

.contain-width {
	max-width: 100%;
	height: auto;
}

$opacities: (
	0   : 0,
	10  : 0.1,
	20  : 0.2,
	30  : 0.3,
	40  : 0.4,
	50  : 0.5,
	60  : 0.6,
	70  : 0.7,
	80  : 0.8,
	90  : 0.9,
	100 : 1,
);

@each $opacity-name, $opacity-value in $opacities {
	.o#{inspect($opacity-name)} {
		opacity: $opacity-value;
	}
}


.vam {
	vertical-align: middle;
}

.vertical-align-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cover-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ws--pre {
	white-space: pre;
}

.ws--pre-line {
	white-space: pre-line;
}

.ws--nowrap {
	white-space: nowrap;
}

.wb--break-word {
	word-break: break-word;
}

.pe--none {
	pointer-events: none;
}

.pe--auto {
	pointer-events: auto;
}

.of--hidden {
	overflow: hidden;
}

.m--auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.ml--auto {
	margin-left: auto !important;
}

.mr--auto {
	margin-right: auto !important;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.disable-focus-ring {
	&:focus {
		outline: none;
	}
}

//
// === Z-Index Utilities ===
//

.push-up {
	position: relative;
	z-index: 1;
}


//
// === Transitions ===
//

.disable-transitions {
	transition: none !important;
	* { transition: none !important; }
}