<!DOCTYPE html>
<html lang="en-US">
<?php
header('Cache-Control: max-age=84600');
?>
<head>
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.google-analytics.com">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139135295-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139135295-1');
</script>


	<meta charset="utf-8" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  	
  	<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  	<!-- CSS -->
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <noscript><link rel="stylesheet" href="styles.css"></noscript>
	{# Stylesheets #}
    {% if craft.app.config.general.devMode %}
		<link rel="stylesheet" href="{{ craft.app.config.general.assetHost }}/dist/main.css"></script>
	{% else %}
		<link rel="stylesheet" href="{{ craft.app.config.general.assetHost }}{{ craft.stamp.er('/dist/main.css', 'query') }}"/>
	{% endif %}
	<!-- <script>
		function initMap() {
		  // Styles a map in night mode.
		  var map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 40.674, lng: -73.945},
			zoom: 12,
			styles: [
				{
					"elementType": "labels.text",
					"stylers": [
					{
						"color": "#005b61"
					},
					{
						"weight": 1
					}
					]
				},
				{
					"featureType": "landscape.man_made",
					"stylers": [
					{
						"color": "#f3f6f6"
					}
					]
				}
				]
		  });
		}
	  </script>
	<script src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBL_59TM_LhfLiWZtMhgYq1MzyNwBYhXnU&center=40.753557213685035,-73.97221710000001&zoom=18&format=png&maptype=roadmap&style=element:labels.text%7Ccolor:0x005b61%7Cweight:1&style=feature:landscape.man_made%7Ccolor:0xf3f6f6&size=480x360&callback=initMap" async defer></script> -->
	<!-- <script src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBL_59TM_LhfLiWZtMhgYq1MzyNwBYhXnU&center=40.753557213685035,-73.97221710000001&zoom=18&format=png&maptype=roadmap&style=element:labels.text%7Ccolor:0x005b61%7Cweight:1&style=feature:landscape.man_made%7Ccolor:0xf3f6f6&size=480x360" async defer></script> -->
	


	<title>
		{% block title %}
		{% endblock %}
	</title>

	<!-- Social Tags -->
	
	<meta name="keywords" content="{% block keywords %}{% endblock %}" />
	<meta name="description" content="{% block description %}{% endblock %}" />

	<meta property="og:title" content="{{ block('title') }}" />
	<meta property="og:description" content="{{ block('description') }}" />
	<meta property="og:image" content="/assets/homepage-header.png">

	<!-- Favicons -->

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.jpg">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.jpg">
	<link rel="manifest" href="/assets/favicon/site.webmanifest">


</head>

<body>

	{% block main %}
		<p>
			Main block not found.
		</p>
	{% endblock %}

	{% include 'components/cookies-banner' %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

	<!-- match height plugin for matching heights for ourwork__excellenceprogram.twig -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>

	{# Scripts #}
	{% if craft.app.config.general.devMode %}


		
		<script defer src="{{ craft.app.config.general.assetHost }}/dist/main.js"></script>
	
	{% else %}
		<script defer src="{{ craft.app.config.general.assetHost }}{{ craft.stamp.er('/dist/main.js', 'query') }}"></script>
	{% endif %}
		<!-- Drip -->
	<script type="text/javascript">
	  var _dcq = _dcq || [];
	  var _dcs = _dcs || {};
	  _dcs.account = '6068538';

	  (function() {
	    var dc = document.createElement('script');
	    dc.type = 'text/javascript'; dc.async = true;
	    dc.src = '//tag.getdrip.com/6068538.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(dc, s);
	  })();
	</script>
	<!-- end Drip -->

	


</body>
</html>
