{% extends "_layout" %}

{% block title %}
About Covera Health
{% endblock %}

{% block keywords %}
Learn more about Covera Health
{% endblock %}

{% block description %}
Covera Health is on a mission to assist radiologists and payers in a shared quest to better define, measure, and deliver high quality radiology to patients everywhere.
{% endblock %}

{% block main %}
<div class="white--header">
	{% include 'components/header__dark' %}
</div>
	
	{% include 'components/header__takeover' %}

	{% include 'components/about__top' %}

	{% include 'components/header__sticky' %}
	
	{% include 'components/about__main' %}

	{% include 'components/footer' %}

{% endblock %}