{% extends "_layout" %}

{% block title %}
Careers at Covera Health
{% endblock %}

{% block keywords %}
Interested in working at Covera Health 
{% endblock %}

{% block description %}
Learn more about working at Covera Health. See Covera Health jobs, careers, and open positions and apply directly online.
{% endblock %}

{% block main %}

	{% include 'components/header__dark' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/careers__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/careers__slider' %}

	{% include 'components/careers__benefits' %}

	{% include 'components/careers__positions' %}

	{% include 'components/footer' %}

{% endblock %}