{% extends "_layout" %}

{% block title %}
Employer Partnerships
{% endblock %}

{% block keywords %}
How Covera Health lowers costs for employers
{% endblock %}

{% block description %}
Learn how Covera Health partners directly with self-insured employers to improve radiology quality and reduce high costs associated with radiology misdiagnosis.
{% endblock %}

{% block main %}

	{% include 'components/header__dark' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/employers__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/employers__main' %}

	{% include 'components/employers__scroller' %}

	{% include 'components/employers__excellenceprogram' %}

	{% include 'components/employers__news' %}

	{% include 'components/cta__image' %}

	{% include 'components/footer' %}

{% endblock %}