{% extends "_layout" %}

{% block title %}
White Paper Report
{% endblock %}

{% block main %}

	{% include 'components/header' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/gated__main' %}
	
	{% include 'components/footer' %}

{% endblock %}