{% extends "_layout" %}

{% block title %}
Health Plan Partnerships
{% endblock %}

{% block keywords %}
How Covera Health partners with health plans
{% endblock %}

{% block description %}
Covera Health matches patients to the highest quality in-network radiologists, while remaining invisible to patients and physicians, for both ASO and fully-insured clients.
{% endblock %}

{% block main %}

	{% include 'components/header__dark' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/healthplans__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/healthplans__main' %}

	{% include 'components/healthplans__quality' %}

	{% include 'components/healthplans__quote' %}

	{% include 'components/cta__image' %}

	{% include 'components/footer' %}

{% endblock %}