{% extends "_layout" %}

{% block title %}
Covera Health
{% endblock %}

{% block keywords %}
Covera Health Radiology Centers of Excellence
{% endblock %}

{% block description %}
Learn about the imact prevalence of radiology misdiagnosis and how Covera Health radiology programs are improving quality radiology for all. 
{% endblock %}

{% block main %}

	{% include 'components/header' %}

	{% include 'components/header__takeover' %}
	
	{% include 'components/home__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/home__main' %}

	{% include 'components/home__accordion' %}

	{% include 'components/home__about' %}

	{% include 'components/home__latest-content' %}

	{% include 'components/cta__image' %}

	{% include 'components/footer' %}

{% endblock %}