{% extends "_layout" %}

{% block title %}
Covera Health News and Resources
{% endblock %}

{% block keywords %}
Covera Health News and Resources
{% endblock %}

{% block description %}
Read the latest news and press coverage about Covera Health. Download Covera Health white papers, studies and podcasts. 
{% endblock %}

{% block main %}

	{% include 'components/header__dark' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/news__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/news__main' %}

	{% include 'components/footer' %}

{% endblock %}