{% extends "_layout" %}

{% block title %}
How Covera Health Works
{% endblock %}

{% block keywords %}
How Covera Health is improving quality in radiology
{% endblock %}

{% block description %}
Learn how Covera Health works with national radiology practices through the Covera Health Radiology Quality Care Collaborative
{% endblock %}

{% block main %}

<div class="white--header">
	{% include 'components/header__dark' %}
</div>	
	{% include 'components/header__takeover' %}

	{% include 'components/ourwork__top' %}
	
	{% include 'components/header__sticky' %}

	{% include 'components/ourwork__main' %}

	{% include 'components/ourwork__scroller' %}

	{% include 'components/ourwork__scaling' %}

	{% include 'components/ourwork__accordion' %}

	{% include 'components/footer' %}

{% endblock %}