{% extends "_layout" %}

{% block title %}
Covera Health for Patients
{% endblock %}

{% block keywords %}
Covera Health for patients
{% endblock %}

{% block description %}
Learn why my health plan or my employer is working with Covera Health to send me to a Covera Health Radiology Center of Excellence. 
{% endblock %}

{% block main %}

	{% include 'components/header' %}
	
	{% include 'components/header__takeover' %}

	{% include 'components/patients__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/patients__main' %}

	{% include 'components/patients__faq' %}

	{% include 'components/cta__text' %}

	{% include 'components/footer' %}

{% endblock %}