
{% extends "_layout" %}

{% block main %}

	{% include 'components/header' %}
	
	{% include 'components/header__takeover' %}

	<div class="grid-container contained plain-text">
		<div class="row mt10 pt10">
			<div class="col c12 c1--md"></div>
				<div class="col c12 c10--md">
					<div class="limit-width">

						<h1 class="sans--large fw--300 pb2 pr10--md">{{ entry.title }}</h1>

						{{ entry.plainText }}

					</div>
				</div>
			</div>
			<div class="col c12 c1--md"></div>
		</div>
	</div>

	{% include 'components/footer' %}

{% endblock %}
