{% extends "_layout" %}

{% block title %}
Provider Partnerships
{% endblock %}

{% block keywords %}
How Covera Health partners with radiologists
{% endblock %}

{% block description %}
Apply to be a Covera Health Radiology Center of Excellence. Covera Health partners with radiologists, improving radiology quality and reducing diagnostic errors.
{% endblock %}

{% block main %}

	{% include 'components/header__dark' %}

	{% include 'components/header__takeover' %}

	{% include 'components/providers__top' %}

	{% include 'components/header__sticky' %}

	{% include 'components/providers__main' %}

	{% include 'components/providers__participate' %}

	{% include 'components/cta__text' %}

	{% include 'components/footer' %}

{% endblock %}