{% extends "_layout" %}

{% block title %}
Covera Health Webinar
{% endblock %}

{% block main %}

	{% include 'components/header' %}
	
	{% include 'components/header__takeover' %}

	<div class="grid-container flush landing">
		<div class="row top bg--white color--green pb10 tc tl--md pl2 pr2 pl0--md pr0--md">
			<div class="col c12 c1--md"></div>
			<div class="col c12 c5--md pt8">
				<div class="pt4 pl8--md">
					<h1 class="sans--x-large fw--300 pb5 pr5--md">Headed for an avalanche?</h1>

					<p class="pr10--md color--green-light subheading pb1">HOW HEALTH PLANS ARE PREPARING FOR POST-CRISIS CARE.</p>
					<p class="pr10--md pb5">Millions of patients have missed or delayed care during the coronavirus pandemic. In this webinar, learn how leaders from Blue Shield of California and Florida Blue are preparing for post-crisis care. With Henry Garlich and Elizabeth Malko.</p>
					<p class="pr10--md pb5">
						<a class="landing__button" target="_blank" href="https://www.youtube.com/watch?v=m1xx8W3Lj9E&feature=youtu.be">Watch the Video</a> 
					</p>

				</div>

			</div>
			<div class="col c12 c1--md"></div>
			<div class="col c12 c5--md pt8--md">
				<div class="pt4 pr8--md tc">
					<img
						alt="News"
						data-src="/assets/webinar.webp"
						onerror="this.src='/assets/webinar.png'"
						class="contain-width news__top__hero lazyload"
						style="box-shadow: none;"
					/>
					
				</div>
			</div>
		</div>

	</div>
	
	{% include 'components/footer' %}

{% endblock %}