<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.16036" type="text/javascript"></script>
<script type="text/javascript">
	JotForm.init(function(){
if (window.JotForm && JotForm.accessible) $('input_3').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_4').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_7').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_8').setAttribute('tabindex',0);
	JotForm.newDefaultTheme = false;
      JotForm.alterTexts(undefined);
	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";
    /*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,{"name":"contactCovera","qid":"1","text":"Contact Covera Health","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"description":"","name":"firstName","qid":"3","subLabel":"","text":"First Name","type":"control_textbox"},{"description":"","name":"lastName","qid":"4","subLabel":"","text":"Last Name","type":"control_textbox"},{"description":"","name":"emailAddress","qid":"5","subLabel":"example@example.com","text":"Email Address","type":"control_email"},{"description":"","name":"areaOf","qid":"6","subLabel":"","text":"Area of Inquiry","type":"control_dropdown"},{"description":"","name":"city","qid":"7","subLabel":"","text":"City","type":"control_textbox"},{"description":"","name":"message","qid":"8","subLabel":"","text":"Message","type":"control_textarea"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"contactCovera","qid":"1","text":"Contact Covera Health","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"description":"","name":"firstName","qid":"3","subLabel":"","text":"First Name","type":"control_textbox"},{"description":"","name":"lastName","qid":"4","subLabel":"","text":"Last Name","type":"control_textbox"},{"description":"","name":"emailAddress","qid":"5","subLabel":"example@example.com","text":"Email Address","type":"control_email"},{"description":"","name":"areaOf","qid":"6","subLabel":"","text":"Area of Inquiry","type":"control_dropdown"},{"description":"","name":"city","qid":"7","subLabel":"","text":"City","type":"control_textbox"},{"description":"","name":"message","qid":"8","subLabel":"","text":"Message","type":"control_textarea"}]);}, 20); 
</script>
<!-- <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.16036" rel="stylesheet" type="text/css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.16036" /> -->
<!-- <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.16036" /> -->
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/> -->
<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    .form-all{
        /* width:690px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif; */
        font-size:14px;
    }
</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
.form-label.form-label-auto { display: block; float: none; text-align: left; width: inherit; } /*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>

<form class="jotform-form gated-form about__form" action="https://submit.jotform.com/submit/200698406462054/" method="post" name="form_200698406462054" id="200698406462054" accept-charset="utf-8" autocomplete="on">

<!-- <form class="jotform-form  gated-form about__form" action="https://submit.jotform.com/submit/200698406462054/" method="post" name="form_200698406462054" id="200698406462054" accept-charset="utf-8" autocomplete="on"> -->

<!-- <form class="jotform-form gated-form about__form" action="https://submit.jotform.com/submit/200698406462054/" method="post" name="form_200698406462054" id="200698406462054" accept-charset="utf-8" autocomplete="on"> -->
  <input type="hidden" name="formID" value="200698406462054" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <!-- <h2 id="header_1" class="form-header" data-component="header">
              Contact Covera Health
            </h2> -->
            <!-- <h3 class="report-access uppercase fw--600">Contact Covera Health</h3> -->
          </div>
        </div>
      </li>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_3">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3">
          First Name
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_3" class="form-input-wide jf-required">
          <input placeholder="First Name *" type="text" id="input_3" name="q3_firstName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_3" required="" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_4">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">
          Last Name
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_4" class="form-input-wide jf-required">
          <input placeholder="Last Name *" type="text" id="input_4" name="q4_lastName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_4" required="" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_5">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5">
          Email Address
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_5" class="form-input-wide jf-required">
          <span class="form-sub-label-container " style="vertical-align:top">
            <input placeholder="Email Address *" type="email" id="input_5" name="q5_emailAddress" class="form-textbox validate[required, Email]" size="30" value="" data-component="email" aria-labelledby="label_5 sublabel_input_5" required="" />
            <!-- <label class="form-sub-label" for="input_5" id="sublabel_input_5" style="min-height:13px" aria-hidden="false"> example@example.com </label> -->
          </span>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_6">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6">
          Area of Inquiry
          <span class="form-required">
            *
          </span>
        </label> -->
        <!-- <div id="cid_6" class="form-input-wide jf-required"> -->
        <div id="cid_6" class="form-input-wide jf-required custom-select">
          <select onchange="this.className=this.options[this.selectedIndex].className"
            class="color--blue-gray form-dropdown validate[required]" id="input_6" name="q6_areaOf" style="" data-component="dropdown" aria-labelledby="label_6" required>
            <option value="" class="color--blue-gray">Area of Inquiry *</option>
            <!-- <option value=""> Area of Inquiry ▾</option> -->
            <option class="color--green" value="Radiology Provider"> Radiology Provider </option>
            <option class="color--green" value="Employer"> Employer </option>
            <option class="color--green" value="Healthplan"> Health Plans </option>
            <option class="color--green" value="Patient"> Patient </option>
            <option class="color--green" value="Press"> Press </option>
          </select>
        </div>
      </li>
      <!-- <li class="form-line jf-required" data-type="control_textbox" id="id_7">

        <div id="cid_7" class="form-input-wide jf-required">
          <input placeholder="City" type="text" id="input_7" name="q7_city" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_7" required="" />
        </div>
      </li> -->
      <li class="form-line jf-required" data-type="control_textarea" id="id_8">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8">
          Message
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_8" class="form-input-wide jf-required">
          <textarea placeholder="Message..." id="input_8" class="mt2 form-textarea validate[required]" name="q8_message" cols="40" rows="6" data-component="textarea" aria-labelledby="label_8"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="" data-align="auto" class="form-buttons-wrapper  ">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button" data-content="">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  // JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
  JotForm.poweredByText = "Powered by JotForm";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="200698406462054" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "200698406462054-200698406462054";
  </script>
  <!-- <div class="formFooter-heightMask">
  </div>
  <div class="formFooter f6">
    <a href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=200698406462054&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png" alt="Jotform Logo" style="height: 44px;"></a>
    <div class="formFooter-rightSide">
      <span class="formFooter-text">
        Now create your own JotForm - It's free!
      </span>
      <a class="formFooter-button" href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=200698406462054&utm_content=jotform_button&utm_campaign=powered_by_jotform_le" target="_blank">Create your own JotForm</a>
    </div>
  </div> -->
</form>