<div class="grid-container flush">

	<div class="row shape-bg9" style="position: relative; z-index: 0;">
		<div class="col c12">
			<div class="color--white">
				<div class="pr fixedScroller-container">
					<div class="grid-container flush--md contained up-index color--green row1">
						<div class="row">
							<a id="about"></a>
							
							<!-- spacer column -->
							<div class="col c12 c4--md c6--xl">
							</div>

							<div class="col c12 c8--md c6--xl">
								<div class="pr tl">
									<div class="vertical-align pl5--sm pr5--sm pr0--md pl0--md"> <!-- matched extra padding for iPad -->

										<div class="mt5--md pt10 pb10 pr5--md pl5--md tc tl--md about-main" style="">
											<div class="wow fadeIn">
												<h2 class="sans--large fw--300 pb3">{{ entry.aboutSectionOneHeadline }}</h2>

													{{ entry.aboutSectionOneParagraph }}
												
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-container flush up-index color--white green-section about__people row2">
						<div class="row bg--green pb5 pl2 pr2 pl0--md pr0--md">
							<div class="col c12 c3--md">
							</div>
							<div class="col c9--md">

							<div class="accordionWrapper">
								<div class="row tc pb4 wow fadeIn">
									<h3 class="about__main__headline display--mobile mt5 tc fw--600 sans--medium">Leadership</h3>

									<a name="leadership" id="leadership"></a>
									
									{% for block in entry.aboutFeaturedLeadership %}
									<div class="col c12 c6--sm">
										<div class="pr tl">
											<div class="vertical-align">
												<div class="mt5--md pt5 pr5--md pb5--md">

													{% for asset in block.aboutFeaturedImage %}

														{% set transform = {
															width: asset.width ,
															quality: 100,
															format:'webp'
															
														} %}

														<img
															alt=""
															data-src="{{ asset.url(transform) }}"
															class="contain-width pb1 lazyload"
															onerror="this.src='{{ asset.url}}'" 
															
														/>
													 
													{% endfor %}

													
													<div class="fw--800">{{ block.aboutFeaturedName }}</div>
													<div>{{ block.aboutFeaturedPosition }}</div>
													<div class="color--green-x-light">{{ block.aboutFeaturedExcerpt }}</div>

													<div class="accordionItem close">
														<div class=" color--green-x-light pt2">
															<div class="accordionItemContent">
																<div href="#{{ block.aboutFeaturedName | kebab }}" class="details"></div>
																<div class="eventDetails" id="{{ block.aboutFeaturedName | kebab }}">
																	{{ block.aboutFeaturedFullBio }}
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="row wow fadeIn pb4">

								{% for block in entry.aboutLeadership %}
									<div class="col c12 c4--sm pb5 pb0--sm">
										<div class="pr tl">
											<div class="vertical-align">

												<div class="pr5--md">

													{% for asset in block.aboutLeadershipImage %}

														{% set transform = {
															width: asset.width ,
															quality: 100,
															format:'webp'
															
														} %}

														<img
															alt=""
															data-src="{{ asset.url(transform) }}"
															class="contain-width pb1 lazyload"
															onerror="this.src='{{ asset.url}}'" 
															
														/>
													  
													{% endfor %}

													<div class="fw--800">{{ block.aboutLeadershipName }}</div>
													<div>{{ block.aboutLeadershipPosition }}</div>
													<div class="accordionItem close">
														<p class=" color--green-x-light pt2">

															<div class="accordionItemContent">
																<div class="details" href="#{{ block.aboutLeadershipName | kebab }}"></div>
																<div class="eventDetails" id="{{ block.aboutLeadershipName | kebab }}">
																	{{ block.aboutLeadershipBio }}
																</div>
															</div>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								</div>

								<div class="row pb5 mt10--md row3 wow fadeIn">
									<h3 class="about__main__headline display--mobile mt5 mb5 tc fw--600 sans--medium">Clinical Advisors</h3>

									<a name="clinical" id="clinical"></a>
									{% for block in entry.aboutClinicalAdvisors %}

									<div class="col c12 c4--sm pb5 pb0--sm">
										<div class="pr tl">
											<div class="vertical-align">

												<div class="pr5--md">
													{% for asset in block.clinicalAdvisorsImage %}
													   {% set transform = {
															width: asset.width ,
															quality: 100,
															format:'webp'
															
														} %}

														<img
															alt=""
															data-src="{{ asset.url(transform) }}"
															class="contain-width pb1 lazyload"
															onerror="this.src='{{ asset.url}}'" 
															
														/>
													{% endfor %}
													<div class="fw--800">{{ block.clinicalAdvisorsName }}</div>
													<div>{{ block.clinicalAdvisorsBio }}</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}									
								</div>

								<div class="row row4 pb5 wow fadeIn">
									<h3 class="about__main__headline display--mobile mt5 mb5 tc fw--600 sans--medium">Strategic Advisors</h3>
									<a name="strategic" id="strategic"></a>

									{% for block in entry.aboutStrategicAdvisors %}

									<div class="col c12 c4--sm pb5 pb0--sm">
										<div class="pr tl">
											<div class="vertical-align">

												<div class="pr5--md">
													{% for asset in block.strategicAdvisorsImage %}
													   {% set transform = {
															width: asset.width ,
															quality: 100,
															format:'webp'
															
														} %}

														<img
															alt=""
															data-src="{{ asset.url(transform) }}"
															class="contain-width pb1 lazyload"
															onerror="this.src='{{ asset.url}}'" 
															
														/>
													{% endfor %}
													<div class="fw--800">{{ block.strategicAdvisorsName }}</div>
													<div>{{ block.strategicAdvisorsBio }}</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}

								</div>
							</div>

							</div>
						</div>
					<div class="grid-container flush--md contained up-index color--green row1 white-section bg--white">
						<div class="row pb5 color--green two row5 pl5--sm pr5--sm pr0--md pl0--md" id="contact">
							<div class="col c12 c3--md">
							</div>
							<div class="col c12 c9--md">
								<div class="row tc wow fadeIn">
									<div class="col c12 c6--md">
										<div class="pr tl">
											<div class="vertical-align">

												<div class="mt5 pt5 pr5--md pb5 contact-info">
													<h2 class="sans--large fw--300 pb3">Contact Us</h2>

													<p class="mb3 fw--800">Covera Health HQ</p>

													<div>
														{{ entry.contactInformation }}
													</div>

													<a href="https://www.google.com/maps?ll=40.753485,-73.972052&z=19&t=m&hl=en&gl=US&mapclient=embed&q=747+3rd+Ave+37th+Floor+New+York,+NY+10017" target="_blank">
														<img
															alt="Map"
															data-src="/assets/map.jpg"
															style="width: 100%;"
															class="map-image lazyload"
															onerror="this.src='/assets/map.jpg'"
														/>
													</a>
													
												</div>
											</div>
										</div>
									</div>
									<div class="col c12 c6--md">
										<div class="pr tl">

											<div class="vertical-align">

												<div class="mt5--md pt5--md pr5--md pb5">

													<p class="sans--caption color--gray mb2">
														<span class="color--red">*</span>
														Required information
													</p>

													{% include 'components/about__form' %}

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="fixedScroller-fixed-side color--green side-scroller" style="width: 25%;" id="about__scroller">
						<div class="grid-container contained" style="padding-right: 0;">
							<div class="row">
								<div class="col c12">

									<div class="mt5 pt10 uppercase scroller-navigation color--green something">
										
										<p>
											<a class="pt5 link-one" href="#about">About</a>
										</p>

										<p>
											<a class="link-two" href="#leadership">Leadership</a>
										</p>

										<p>
											<a class="link-three" href="#clinical">Clinical Advisors</a>
										</p>

										<p>
											<a class="link-four" href="#strategic">Strategic Advisors</a>
										</p>

										<p>
											<a class="link-five" href="#contact">Contact</a>
										</p>

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="modalContainer vertical-align-container">
	<div class="modal modal--about p2 tc m--auto">
    
		<header class="">
		  <p class="mb1 modal__headline sans--medium fw--800 m--auto color--green-dark">
		  </p>
		  <span class="close toggleModal sans--medium fw-400" id="closeModal">&#10005;</span> 
		</header>

		<div class="modal__text">
		</div>
		
	</div>	
</div>
