
<div class="grid-container flush about__top">
	<div class="row top about-top color--white lazyload"
	{% for asset in entry.imageHeroBackgroundImage %}
		{% set transform = {
			width: asset.width ,
			quality: 100,
			format:'webp'
			
		} %}
		data-bg='{{ asset.url(transform) }}'
		data-bg2='{{ asset.url}}'
	{% endfor %}
	>
		<div class="desktop-text">
			<div class="col c12 c6--md pt8--md">
				<div class="pt4 pl8--md pl2 pr2">
					{% if entry.imageHeroHeadline %}
					<h1 class="sans--x-large fw--300 tc tl--md">{{ entry.imageHeroHeadline }}</h1>
					{% else %}{% endif %}
					
					{% if entry.imageHeroParagraph %}
					<div class="pt3 pr10--md pb10 tc tl--md">{{ entry.imageHeroParagraph }}</div>
					{% else %}{% endif %}
				</div>
			</div>
		</div>
		
		<div class="col c6">
		</div>
	</div>

	<div class="mobile-text p5--sm p0--md">
		<div class="col c12 c6--md pt8--md">
			<div class="pt4 pl8--md pl2 pr2 partners-top">
				{% if entry.imageHeroHeadline %}
					<h1 class="sans--x-large fw--300 tc tl--md">{{ entry.imageHeroHeadline }}</h1>
				{% else %}
				{% endif %}

				{% if entry.imageHeroParagraph %}
					<div class="pt2 pt3--md pr10--md pb5 pb10--md tc tl--md">
						{{ entry.imageHeroParagraph }}
					</div>
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
</div>