<div class="grid-container flush">
	<div class="row pt3 pb10--md">
		<div class="col c12">
			<div class="carousel carousel-careers"
			  data-flickity='{ "freeScroll": false,
				"contain": true,
				"prevNextButtons": false,
				"pageDots": false }'
			>
			  <div class="carousel-cell pr0 pl0">
		  		{% for asset in entry.careersPhotoSliderPhotoOne %}
				  {% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img contain-width lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
			  		
				{% endfor %}
			  </div>

			  <div class="carousel-cell pr0 pl0">
			  	{% for asset in entry.careersPhotoSliderPhotoTwo %}
			  		{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img contain-width lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
				{% endfor %}
			  </div>

			  <div class="carousel-cell pr0 pl0">
			  	{% for asset in entry.careersPhotoSliderPhotoThree %}
			  		{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img contain-width lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
				{% endfor %}
			  </div>
			  
			</div>

			<figure class="display--mobile mobile-image-slider">
				{% for asset in entry.careersPhotoSliderPhotoOne %}
			  		{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img lazyload"
						
					/>
				{% endfor %}
				{% for asset in entry.careersPhotoSliderPhotoTwo %}
			  		{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
				{% endfor %}
				{% for asset in entry.careersPhotoSliderPhotoThree %}
			  		{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="db news-item-img lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
				{% endfor %}

			</figure>

			<!-- LightWidget WIDGET -->
			<!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b1d339737acc527cbc9621608703d39f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->

		</div>
	</div>
</div>