<div class="grid-container flush careers-news">
	<div class="row shape-bg9">
		<div class="row">
			<div class="col c12 pt10 tc">

				<div class="carousel-careers-buttons desktop careers-button-row tl pl1 pb pr">
					<button class="button button--previous" style="position: absolute; left: 10%;">
						<img
					  alt="carousel navigation back"
					  data-src="/assets/carat-left-green.webp"
			  			data-srcset="/assets/carat-left-green@2x.webp 2x"
						  class="lazyload"
						  onerror="this.src='/assets/carat-left-green.png'"
					  />
				  </button>
					<button class="button button--next" style="position: absolute; right: 10%;">
						<img
					  alt="carousel navigation next"
					  data-src="/assets/carat-right-green.webp"
					  onerror="this.src='/assets/carat-right-green.png'"
				  	class="lazyload"
					  />
					</button>
				</div>

				<div class="carousel carousel-careers-news wow fadeIn"
				  data-flickity='{ 
					"contain": true,
					"prevNextButtons": false,
					"pageDots": true,
					"wrapAround": true
					}'
				>

				  <div class="carousel-cell">
				  	<p class="sans--large fw--300 tc">"Covera is an opportunity to work with amazing, intelligent, and most importantly kind people on problems that matter.”</p>

					<p class="pt5 mb5--md"><span class="fw--600">David Lenis, PhD </span><br>
					Senior Data Scientist</p>
				  </div>

				  <div class="carousel-cell">
				  	<p class="sans--large fw--300 tc">"Covera Health constantly inspires and challenges us in building an analytics pipeline capable of directly impacting patients’ quality of care.” </p>

					<p class="pt5 mb5--md"><span class="fw--600">Grant Langseth</span><br>
					Data Engineer </p>
				  </div>

				  <div class="carousel-cell">
				  	<p class="sans--large fw--300 tc">"I am gratified and humbled to know that what we do everyday has a real and substantive impact on other people's lives."</p>

					<p class="pt5 mb5--md"><span class="fw--600">Rachel Liang</span><br>
					Informatics Project Manager</p>
				  </div>
				</div>

				<div class="carousel-careers-buttons mobile button-row mt5 tl pl1 pb pr">
					<button class="button button--previous" style="position: absolute; left: 50px;">
						<img
					  alt="carousel navigation back"
					  data-src="/assets/pointed-arrow-left-green-large.webp"
					  
					  class="lazyload"
					  onerror="this.src='/assets/pointed-arrow-left-green-large.png'"
					  />
				  </button>
					<button class="button button--next" style="position: absolute; right: 50px;">
						<img
					  alt="carousel navigation next"
					  data-src="/assets/pointed-arrow-right-green-large.webp"
					 
					  onerror="this.src='/assets/pointed-arrow-right-green-large.png'"
					  class="lazyload"
					  />
					</button>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col c12 pt10 tc wow fadeIn">
				{% include 'components/careers__photo-slider' %}
			</div>
		</div>
	</div>
</div>

