<div class="grid-container flush careers-positions">
	<div class="row pt10 pb10">
		<div class="col c12">
			<div class="tc">
				<h2 class="sans--large fw--300 pb2 wow fadeIn">{{ entry.careersPositionsHeadline }}</h2>
			</div>

			<div>
				<div id="recruitee-careers"></div>
				{{ entry.careersPositionsWidget }}
				<script type="text/javascript" src="https://d10zminp1cyta8.cloudfront.net/widget.js"></script><script type="text/javascript"> var widget = new RTWidget({ 
					 "companies": [
					   12126
					 ],
					 "detailsMode": "overlay",
					 "language": "en",
					 "departmentsFilter": [],
					 "themeVars": {
					   "primary": "#1999e3",
					   "secondary": "#005b60",
					   "text": "#005b60",
					   "textDark": "#005b60",
					   "fontFamily": "\"Poppins\", sans-serif;",
					   "baseFontSize": "16px"
					 },
					 "flags": {
					   "showLocation": true,
					   "showCountry": true,
					   "showCity": true,
					   "groupByLocation": false,
					   "groupByDepartment": true,
					   "groupByCompany": false
					 }
					 });</script>
			</div>
			
		</div>
	</div>
</div>