<div class="grid-container flush">
	<div class="row careers-top top bg--green color--white pb5 tc tl--md">
		<div class="col c12 c6--md pt8">
			<div class="pt4--md pl8--md">
				<h1 class="sans--x-large fw--300">{{ entry.careersHeroHeadline }}</h1>
			</div>
		</div>
		<div class="col c12 c6--md pt8--md">
			<div class="pt2 pt4--md pl8--md partners-top">
				<div class="pr10--md pb5 pl2 pr2">{{ entry.careersHeroParagraph }}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col c12">
			<img
				alt="group photo"
				data-src="/assets/careers-group.webp"
				onerror="this.src='/assets/careers-group.jpg'"
				
				class="db contain-width lazyload"
				style="width: 100%;"
			/>
		</div>
	</div>
</div>