
<div class="grid-container flush careers__benefits">
	<div class="row bg--green color--white">

		<div class="col c12 c6--md tc image-wrapper lazyload"

			{% for asset in entry.careersBenefitsPhoto %}
				{% set transform = {
				width: asset.width ,
				quality: 100,
				format:'webp'
				
				} %}
			data-bg='{{ asset.url(transform) }}'
			data-bg2='{{ asset.url}}'
			{% endfor %}
			>
		</div>

		<div class="col c12 c6--md">
			<h2 class="sans--large fw--300 pb2 pt10 tc wow fadeIn">{{ entry.careersBeneiftsHeadline }}</h2>

			<div class="row pt2 pt5--md pb10 wow fadeIn">

				<div class="col c12 c6--md">
					<div class="pr2 pl2 pr5--md pl5--md">

						<div class="benefits-list pl3 pl0--md">

							{{ entry.careersBenefitsLeftColumn }}

						</div>
					</div>
				</div>
				<div class="col c12 c6--md">
					<div class="pr2 pl2 pr5--md pl5--md">
						<ul class="benefits-list pl3 pl0--md">

							{{ entry.careersBenefitsRightColumn }}

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col c12 c6--md tc image-wrapper display--mobile">
				{% for asset in entry.careersBenefitsPhoto %}
					{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="contain-width db benefits__img display--mobile lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
					
				{% endfor %}
				
		</div>
	</div>
</div>
		