<div class="cookie-banner bg--green-x-light color--green pl2 pr2 pl5--md pr5--md pt1 pb1 grid-container row" style="display: none">
    <p class="col c10 sans-small">By using our website, you agree to our <a class="cookies-link"><span class="border-bottom">cookie policy</span></a></p>
    <!-- <button class="close">&times;</button> -->
    <!-- <button class="close col c1 btn-large color--white bg--green">OK -->
    <button class="close col c2 c1--md color--white bg--green">OK
        <!-- <img
            alt="right"
            src="/assets/arrow-right-white.webp"
            onerror="this.src='/assets/arrow-right-white.png'"
            class="contain-width dib pl3"
        /> -->
    </button>
</div>
