<div class="grid-container flush cta-text">
	<div class="row shape-bg3">

		<div class="grid-container flush--md contained">
			<div class="row">
				<div class="col c12">
					
				<div class="row wow fadeIn">

					<div class="col c12 pt10 tc">
						{% if entry.textCtaText %}
						<div class="pr10--md pl10--md">
							<div class="sans--large fw--300 tc pr10--xl pl10--xl mr10--md ml10--md limit-width">
								{{ entry.textCtaText }}
							</div>
						</div>
						{% else %}{% endif %}

						{% for asset in entry.textCtaImage %}
							{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="contain-width pt5 pb5 lazyload"
								onerror="this.src='{{ asset.url}}'" 
								
							/>
							
						{% endfor %}


						{% if entry.textCtaImageCaption %}
						<div class="mb10">
							{{ entry.textCtaImageCaption }}
						</div>
						{% else %}{% endif %}

					</div>
				</div>
			</div>

			</div>
		</div>
	</div>
</div>