
<div class="grid-container flush cta-image lazyload"

	{% for asset in entry.imageCtaBackground %}
		{% set transform = {
			width: asset.width ,
			quality: 100,
			format:'webp'
						
		}
	 %}

				
		data-bg='{{ asset.url(transform) }}'
		data-bg2='{{ asset.url}}'
	{% endfor %}
	
	>
	
	<div class="row pt5--md pb5--md pb0--md">

		<div class="grid-container contained">
			<div class="row mobile-img">
				{% for asset in entry.imageCtaBackground %}
					{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
					} %}

					<img
						alt=""
						data-src="{{ asset.url(transform) }}"
						class="lazyload"
						onerror="this.src='{{ asset.url}}'" 
						
					/>
				
				{% endfor %}
			</div>
			<div class="row">

				<div class="col c12 c6--md">
					<div class="mt5 mb5 pt10--md  wow fadeIn tc tl--md">
						{% if entry.imageCtaHeadline %}
						<div class="sans--medium-large fw--300 pr5--md" style="line-height: 42px;">{{ entry.imageCtaHeadline }}</div>
						{% else %}{% endif %}

						{% if entry.imageCtaParagraph %}
						<div class="pt3 pr10--md text" style="">{{ entry.imageCtaParagraph }}</div>
						{% else %}{% endif %}

						{% if entry.imageCtaLink %}
						<div class="dib pt3"><span class="fw--600"><a class="contact-link">{{ entry.imageCtaLink }}</a></span></div>
						{% else %}{% endif %}
					</div>

				</div>
				<div class="col c6--md"></div>
			</div>

		</div>

	</div>
</div>