<div class="grid-container flush">
	<div class="row shape-bg5">
		<div class="col c12">
			<div class="grid-container flush--md contained">
				<div class="row pt10 pb10">
					<div class="col c12 c1--md"></div>

					<div class="col c12 c5--md color--green tc tl--md wow fadeIn">
						<h2 class="sans--large fw--300 pb2">{{ entry.employersMainTwoHeadline }}</h2>

						<div class="pb5">{{ entry.employersMainTwoSubheadline }}</div>
					</div>
					
					<div class="col c1">
						<!-- <img
							alt="Woman in surgical scrubs"
							src="/assets/indicator.webp"
							onerror="this.src='/assets/indicator.png'"
							class="pa--md"
							id="indicator-img"
							
						/> -->
					</div>
					
					<div class="col c11 c5--md employers-main-two" id="para-content">
					<!-- <div class="col c12 c5--md" class="employers__excellence" id="para-content"> -->
						<div class="pl2 wow fadeIn">
							
							<h3 class="sans--medium-large fw--300 pb2 color--green" id="head">
								{{ entry.employersMainTwoRightColumnOneHeader }}
							</h3>

							<div class="sans--small color--gray pr5--md pr2 mt0 pb5 pb2--md mb2--md">{{ entry.employersMainTwoRightColumnOne }}</div>

							<h3 class="sans--medium-large fw--300 pb2 pt2--md color--green" id="head2">{{ entry.employersMainTwoRightColumnTwoHeader }}</h3>

							<div class="sans--small color--gray pr5--md pr2 pb5 pb2--md mb2--md">{{ entry.employersMainTwoRightColumnTwo }}</div>

							<h3 class="sans--medium-large fw--300 pt2--md pb2 color--green" id="head3">{{ entry.employersMainTwoRightColumnThreeHeader }}</h3>

							<div class="sans--small color--gray pr5--md pr2 ">{{ entry.employersMainTwoRightColumnThree }}</div>
						</div>
							
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>