<div class="grid-container flush employers-news">
	<div class="row pt10 pb10 bg--green color--white">
		<div class="col c16">
			<div class="grid-container contained">
				<div class="row">
					<div class="col c12 tc pr10 pl10">

						  	<a href="{{ entry.employersQuoteLink }}" target="_blank">

						  		{% for asset in entry.employersQuoteLogo %}

								  {% set transform = {
										width: asset.width ,
										quality: 100,
										format:'webp'
										
									} %}

									<img
										alt=""
										data-src="{{ asset.url(transform) }}"
										class="contain-width lazyload"
										style="max-width: 100px; height: auto;"
										onerror="this.src='{{ asset.url}}'" 
									/>
								
								{% endfor %}


						  		<h2 class="sans--large fw--300 pb5 pt5 pl10--xl pr10--xl mr10--md ml10--md limit-width">{{ entry.employersQuoteText }}</h2>

								<div class="uppercase o75">
									<div class="pb0">{{ entry.employersQuoteAttributionPosition }}</div>
								</div>
							</a>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>