



<div class="grid-container flush overflow">
	<div class="row shape-bg4">
		<div class="col c12">
			<div class="grid-container flush--md contained overflow">

				<div class="row pt10 pb10 tc tl--md">
					<div class="col c12 c1--md"></div>

					<div class="col c12 c6--md color--green">
						<h2 class="sans--large fw--300 pb2">{{ entry.employersMainHeadline }}</h2>

						<div class="pr10--xl wow fadeIn">
							<div class="pb5 pr10--xl">{{ entry.employersMainParagraph }}</div>
						

							<div class="sans--small mb0 uppercase pb2 ref-toggle o75" id="ref-10">
								{{ entry.employersMainModalTriggerText }}
							</div>
					</div>
					</div>
					<div class="col c12 c5--md">

						{% for asset in entry.employersMainImage %}
						
					
						{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
						} %}

						<img
							alt=""
							data-src="{{ asset.url(transform) }}"
							class="contain-width neg-margin--150 mt5 mt0--md pr4--md lazyload"
							style="position: relative; z-index: 999;"
							onerror="this.src='{{ asset.url}}'" 
						/>
						{% endfor %}
							
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

<!-- reference popups -->

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-10">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-10">&#10005;</span>
		</header>

		<div class="modal__text">
			{{ entry.employersMainModalContent }}
		</div>
		
	</div>	
</div>