
<div class="grid-container overflow flush up-index bg--blue color--green employers__scroller">

	<div class="row tc pr">
		<div class="col c12 c6--md woman-wrapper lazyload"		
		{% for asset in entry.employersSliderImage %}
		{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

						
				data-bg='{{ asset.url(transform) }}'
				data-bg2='{{ asset.url}}'
			{% endfor %}
		>	
			
			{% for asset in entry.employersSliderImage %}
				
					{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="db dn--md employers-woman lazyload"
								onerror="this.src='{{ asset.url}}'" 
								
							/>
			

			{% endfor %}
		</div>

		<div class="col c12 c6--md">

			<div class="carousel-employers-buttons button-row tl pb2 pa">
				<button class="button button--previous pa" style="">
					<img
				  alt="carousel navigation back"
				  data-src="/assets/carat-left-green.webp"
				 onerror="this.src='/assets/carat-left-green.png'"
				  class="lazyload"
				  />
			  </button>
				<button class="button button--next pa" style="">
					<img
				  alt="carousel navigation next"
				  data-src="/assets/carat-right-green.webp"
				  onerror="this.src='/assets/carat-right-green.png'"
				 
				  class="lazyload"
				  />
				</button>
			</div>

			
			<div class="carousel carousel-employers wow fadeIn mh100 tc" style=""
			  data-flickity='{ 
				"contain": true,
				"prevNextButtons": false,
				"pageDots": true,
				"dragThreshold": 15
				}'
			>
				<div class="carousel-cell first-slide">
				
					<h2 class="sans--large fw--300 pr5--md pl5--md pt2 pb2">Our work began with a simple study</h2>
					<p class="sans--medium mb2 mb5--md tc" style="line-height: 32px;">It showed high variations in accuracy between imaging centers—suggesting many employees may be misdirected to the wrong care.</p>
				</div>

				<div class="carousel-cell">
					<img
						alt="Woman in surgical scrubs"
						data-src="/assets/patient-illustration.webp"
						class="contain-width lazyload"
						 onerror="this.src='/assets/patient-illustration.png'"
					/>
					<h2 class="sans--large fw--300 pb2 pt2">1 Patient</h2>
					<p class="sans--medium mb5 tc" style="line-height: 32px;">The study volunteer was a 63-year-old woman with low back pain and right L5 radicular symptoms</p>
				</div>

				<div class="carousel-cell">
					<img
						alt="Woman in surgical scrubs"
						data-src="/assets/centers-illustration.webp"
						class="contain-width lazyload"
						 onerror="this.src='/assets/centers-illustration.png'"
					/>

					<h2 class="sans--large fw--300 pb2 pt2">10 Centers</h2>
					<p class="sans--medium tc mb5" style="line-height: 32px;">She visited 10 imaging centers for same MRI exam over a 3-week period</p>
				</div>

				<div class="carousel-cell last-slide">

					<img
						alt="Circles with dots"
						data-src="/assets/diagnosis-illustration.webp"
						class="contain-width lazyload"
						 onerror="this.src='/assets/diagnosis-illustration.png'"
					/>

					<h2 class="sans--large fw--300 pb2 pt2">5 Different Diagnoses</h2>
					<p class="sans--medium tc" style="line-height: 32px;">Such variation could lead to radically different treatment paths, from physical therapy and additional testing to spinal injections or surgery<br><br>
					<a href="/assets/Covera_Health_Spine_Journal.pdf" target="_blank"><span class="fw--800 border-bottom">View Study</span></a></p>
				</div>

			</div>			
			
		</div>
	</div>
</div>

