<div class="grid-container flush bg--green footer">
	<div class="row">
		<div class="grid-container contained pt2 pb2">
			<div class="row">
				<div class="col c6 c3--md sans--x-small tl">
					<p class="sans--x-small">Covera Health © 2020
					
					</p>
				</div>

				<div class="col c6 c3--md color--green-light tl">
					<div class="m--auto">
						<p class="sans--x-small">
							<a href="privacy-policy">Privacy Policy</a> 
							<span class="show--md">/</span>
							<br class="hide--md">
							<a href="termsconditions">Terms & Conditions</a></p>
					</div>
				</div>

				<div class="col c6 display--mobile spacer"></div>

				
				<div class="col c6 c3--md color--green-light tl">
					<div class="m--auto">
						<p class="sans--x-small">
							<a href="https://www.linkedin.com/company/covera-health/" target="_blank">LinkedIn</a> 
						</p>
						
					</div>
				</div>

				<div class="col c6 display--mobile spacer"></div>

				<div class="col c6 c3--md color--green-light tl">
					<div class="m--auto dib fl">
						<p class="sans--x-small"><a class="contact-link">Contact Us</a></p>
					</div>
					<a
						title="Top of Page"
						href="#top"
						class="pr0"
					>
						<img
							alt="top of page"
							data-src="/assets/pointed-arrow-up.webp"
							 onerror="this.src='/assets/pointed-arrow-up.png'"
							class="dib fr top-arrow lazyload"
						/>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>