	<div class="grid-container flush gated">
		<div class="row top bg--white color--green pb0 tc tl--md pl2 pr2 pl0--md pr0--md">
			<div class="col c12 c1--md"></div>
			<div class="col c12 c5--md pt8">
				<div class="pt4 pl8--md">
					<h1 class="sans--x-large fw--300 pb5 pr5--md">Misguided from the start &mdash;</h1>

					<p class="pr10--md color--green-light subheading pb1">The critical impact of radiology misdiagnosis on healthcare’s highest spend categories.</p>
					<p class="pr10--md pb5">Misdiagnoses in healthcare are both more common and more costly than patients and payers have previously appreciated. Fortunately, new approaches are proving that  common errors that lead to misdiagnoses can be reduced—if their causes are addressed head-on.</p>

					<!-- <p class="pb5">
						<a href="/" class="underline">&larr; Back to coverahealth.com</a>
					</p> -->

					<div class="row">
						

					</div>


					{# <a href="" download class="btn-large color--white b--white">Download
						<img
							alt="down"
							data-src="/assets/pointed-arrow-down.webp"
							 onerror="this.src='/assets/pointed-arrow-down.png'"
							class="dib pl3 lazyload"
						/>
					</a> #}

				</div>
			</div>
			<div class="col c12 c1--md"></div>
			<div class="col c12 c5--md pt8--md">
				<div class="pt4 pr8--md tc">
					<img
						alt="News"
						data-src="/assets/brochure.webp"
						 onerror="this.src='/assets/brochure.png'"
						class="contain-width news__top__hero lazyload"
						style="box-shadow: none;"
					/>
					
				</div>
			</div>
		</div>
		<div class="row bg--white color--green pb10 pl2 pr2 pl0--md pr0--md">
			<div class="col c12 c1--md"></div>

			<div class="col c12 c4--md">
				<div class="pt5 pt0--md pl8--md form-container">
					<h3 class="report-access uppercase fw--600">Access the Report</h3>

					<p class="sans--caption color--gray mt4 mb2">
						<span class="color--red">*</span>
						Required information
					</p>

					{% include 'components/gated__form' %}

				</div>
				
			</div>
		</div>
	</div>