<header class="grid-container flush header" id="top">
	<div class="row pr2 pr5--md pb2 pl2 pl5--md">
		<div class="col c4 pt2--md">


	
			<a
				href="https://www.coverahealth.com">

			<img data-src="/assets/logo-header-desktop.webp" onerror="this.src='/assets/logo-header-desktop.png'" 
			class="lazyload logo"
			/>	
 
			
			</a>
		</div>
		<div class="col c8 tr partner-menu-container">
			<!-- <div class="dib partner-menu"> -->
			<div class="partner-menu">
				<div class="dib partner-menu-inner animated">
					<a

						href="providers"
						class="partner-menu-button four">
						Provider

					</a>
					<a

						href="healthplans"
						class="partner-menu-button three">
						Health Plan

					</a>

					<a

						href="employers"
						class="partner-menu-button two">
						Employer
					</a>

					<a

						href="patients"
						class="partner-menu-button one"
						id="patient">
						Patient
					</a>
				</div>

				<a
					href="#"
					class="partner-menu-button main"
				>
					I am a...

					
					<img
						alt="down"
						data-src="/assets/carat-down.webp"
						 onerror="this.src='/assets/carat-down.png'"
						class="dib arrow lazyload"
					/>
				</a>
			</div>

			<div class="menu">
				<span class="menu-btn-bg"></span>
				<a href="" class="menu-link">
					<span class="menu-icon">
						<span class="menu-line menu-line-1"></span>
						<span class="menu-line menu-line-2"></span>
					</span>
				</a>
			</div>
		</div>

	</div>
</header>