<div class="grid-container border-bottom flush header-sticky hidden" style="z-index: 1000;">
	<div class="row pt2 pr2 pr5--md pb2 pl2 pl5--md">
		<div class="col c6 c4--md">
			<a
				
				href="https://www.coverahealth.com"
				class=""
				style="font-size: 14px;">
				Covera Health
			</a>
		</div>
		<div class="col c6 c8--md menu-wrapper tr">
			<div class="menu">
				<span class="menu-btn-bg"></span>
				<a href="" class="menu-link">
					<span class="menu-icon">
						<span class="menu-line menu-line-1"></span>
						<span class="menu-line menu-line-2"></span>
					</span>
				</a>
			</div>
		</div>
		<div class="col c8 tr sticky-menu">
			
			<div class="dib">
				<a
					
					href="ourwork"
					class="sans--small menu-item">
					New Link

				</a>
				<a
					
					href="ourwork"
					class="sans--small menu-item">
					Our Work

				</a>

				<span
					
					href="#"
					class="sans--small menu-item dropdown-toggle">
					Partners
					<img
						alt="down"
						data-src="/assets/carat-down.webp"
						 onerror="this.src='/assets/carat-down.png'"
						class="dib arrow lazyload"
					/>
				</span>

				<a
					
					href="about"
					class="sans--small menu-item">
					About
				</a>
				<a
					
					href="news"
					class="sans--small menu-item">
					News & Resources
				</a>
				<a
					
					href="careers"
					class="sans--small menu-item">
					Careers
				</a>

				<a
					title="Top of Page"
					href="#top"
					class="pr0"
				>

					<img
						alt="top of page"
						data-src="/assets/arrow-up.webp"
						 onerror="this.src='/assets/arrow-up.png'"
						class="contain-width dib arrow lazyload"
					/>
				</a>
			</div>
		</div>
	</div>

	<div class="row pt2 pr5 pb2 pl5 dropdown-container">
		<!-- spacer column -->
		<div class="col c10"></div>
		
		<div class="col c2 sticky-menu dropdown tl">
			<a
				
				href="providers"
				class="sans--small menu-item dropdown__item pb1">
				Providers
			</a>
			<a
				
				href="healthplans"
				class="sans--small menu-item dropdown__item pb1">
				Health Plans
			</a>
			<a
				
				href="employers"
				class="sans--small menu-item dropdown__item pb1">
				Employers
			</a>
			<a
				
				href="patients"
				class="sans--small menu-item dropdown__item pb1">
				Patients
			</a>

		</div>
	</div>
</div>