<span class="takeover-bg" style="z-index: 1000;"></span>
<div class="grid-container flush menu-takeover" id="menu-takeover" style="z-index: 1000;">
	<!-- <span class="takeover-bg"></span> -->
	<div class="row pt0 pt2--md pr2 pr5--md pb2 pl2 pl5--md">
		<div class="col c4 menu-logo-container">
			<a
				
				href="https://www.coverahealth.com">
				<img
					alt="Covera"
					data-src="/assets/logo-light.webp"
					 onerror="this.src='/assets/logo-light.png'"
					class="logo lazyload"
				/>
			</a>
		</div>
		<div class="col c8 tr">
			<div class="dib">

				<div class="menu mt3 pr" style="">
				<!-- <div class="menu mt3 pr" style="right: -15px;"> -->
				<!-- <div class="menu mt1 mt3--md pr" style="right: -15px;"> -->
				<!-- <div class="menu mt1 pr" style=""> -->
					<span class="menu-btn-bg"></span>
					<a href="#" class="menu-link">
						<span class="menu-icon">
							<span class="menu-line menu-line-1"></span>
							<span class="menu-line menu-line-2"></span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row pt2 pr2 pr5--md pb5 pl2 pl5--md">
	<!-- <div class="row pt2 pr2 pr5--md pb10 pl2 pl5--md"> -->
		<div class="col c12 pr menu-takeover-links-container">
			<!-- <div class="pa color--white menu-takeover-links" style="height: 100%; top: 150px;"> -->
			<div class="pa color--white menu-takeover-links">
				<a
					
					href="ourwork"
					class="db fw--100"
					>
					Our Work

				</a>

				
					<a
					
					href="providers"
					class="db fw--100"
					>
					For Providers

					</a>
					<a
						
						href="healthplans"
						class="db fw--100"
						>
						For Health Plans

					</a>

					<a
						
						href="employers"
						class="db fw--100"
						>
						For Employers
					</a>

					<a
						
						href="patients"
						class="db fw--100"
						>
						For Patients
					</a>

				
				<a
					
					href="about"
					class="db fw--100"
					>
					About Us
				</a>

				<a
					
					href="careers"
					class="db fw--100"
					>
					Careers
				</a>

				<a
					
					href="news"
					class="db fw--100"
					>
					News & Resources
				</a>
			</div>


		</div>
	</div>


</div>