<div class="grid-container overflow flush">
	<div class="row pt10 bg--green-gray color--white">
		<div class="col c12">
			<div class="grid-container contained overflow">
				<div class="row pb3--sm pb0--md">
					<div class="col c12 tc pb4--sm pb0--md wow fadeIn">

						<h2 class="sans--large fw--300 pb2">{{ entry.healthplansMainTwoHeadline }}</h2>

						<div class="ml0 mr0 mr10--xl ml10--xl pl0 pr0 pl10--xl pr10--xl">
							<div class="pl4 pr4 pl10--xl pr10--xl">{{ entry.healthplansMainTwoParagraph }}</div>
						</div>

					</div>
				</div>
				<div class="row pb5--sm pb0--md wow fadeIn">
					<div class="col c12 c6--md tc pb10--sm pb0--md mt5 mt0--md">
						<div class="pr--md pl2 pr2">
							<div class="pa--md">
								<div class="quality-container">
									<div class="quality-header one">
										<p class="color--white fw--600 sans--x-medium">{{ entry.healthplansMainTwoLeftHeadline }}</p>
									</div>

									<div class="bg--white white-box" style="">
										<div class="color--gray pt3 pr2 pl2 pr5--md pl5--md pb3 ">{{ entry.healthplansMainTwoLeftParagraph }}</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="col c12 c6--md tc pb10--sm pb0--md">
						<div class="pr--md pl2 pr2 mt5 mt0--md">
							<div class="pa--md">
								<div class="quality-container">
									<div class="quality-header two">
										<p class="color--white fw--600 sans--x-medium">{{ entry.healthplansMainTwoRightHeadline }}</p>
									</div>
									<div class="bg--white white-box" style="">
										<div class="color--gray pt3 pb4 pb6--lg pr2 pl2 pr5--md pl5--md">{{ entry.healthplansMainTwoRightParagraph }}</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>