<div class="grid-container flush">
	<div class="row shape-bg7 pt10--md pt5 color--green">
		<div class="col c12 pt10--md tc wow fadeIn">
			<div class="pl10--md pr10--md mr10--md ml10--md">
				<div class="sans--large fw--300 pt5 tc pl10 pr10">{{ entry.healthplansMainTwoQuote }}</div>
			</div>

			{% for asset in entry.healthplansQuoteImage %}
					{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="contain-width pt5 pb5 quote-image lazyload"
								onerror="this.src='{{ asset.url}}'" 
								
							/>
				
			{% endfor %}

			<div class="fw--600">{{ entry.healthplansQuoteAttributionName }}</div>
			<div class="quote-attribution pb10">{{ entry.healthplansQuoteAttributionPosition }}</div>

		</div>
	</div>
</div>