<div class="grid-container contained">
	<div class="row">
		<div class="col c6">

			<img
				alt="Woman laying on MRI table"
				data-src="/assets/recent-research-image.webp"
				onerror="this.src='/assets/recent-research-image.png'"
				class="lazyload"
			/>
			
		</div>
		<div class="col c6">

			<h2 class="sans--large fw--300">Quality healthcare begins with<br> 
			quality radiology</h2>

			<p>An accurate radiology diagnosis is crucial to the effectiveness of all downstream medical specialties—from orthopedics to oncology. That’s why Covera Health is empowering radiologists with powerful analytics to better define, measure, and deliver high-quality care.</p>

			<p>View recent research into quality variations between imaging centers. </p>
				
		</div>
	</div>
</div>