<div class="grid-container flush">
	<div class="row pt5 pt10--md pl5--md pl2">
		<div class="col c6">
			<h2 class="sans--medium-large fw--300 wow fadeIn">Latest Content</h2>
		</div>
		<div class="col c6">
			<div class="carousel-latest-content-buttons button-row fr mr3 mr5--md mt1">
  				<button class="button button--previous">
  					<img
					alt="carousel navigation back"
					data-src="/assets/pointed-arrow-left-green-large.svg"
					class="lazyload"
					/>
				</button>
  				<button class="button button--next">
  					<img
					alt="carousel navigation next"
					data-src="/assets/pointed-arrow-right-green-large.svg"
					class="lazyload"
					/>
  				</button>
  			</div>
		</div>
	</div>

	<div class="row pt3 pb5 pb5--md">
		<div class="col c12 wow fadeIn">

			<div class="carousel carousel-latest-content"
			  data-flickity='{ "freeScroll": true,
				"contain": true,
				"prevNextButtons": false,
				"pageDots": false,
				"groupCells": 2 }'
			>

			{% for block in entry.homepageLatestContent %}

				<div class="carousel-cell">
					<a target="_blank" href="{{ block.latestItemsLink }}"
					{% if block.latestItemsLinkOptions.contains('openInNewTab') %}
						target="_blank" 
					{% endif %}
					{% if block.latestItemsLinkOptions.contains('download') %}
						download
					{% endif %}
					>

						{% for asset in block.latestItemsImage %}
						{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="db pb1 news-item-img lazyload"
								onerror="this.src='{{ asset.url}}'" 
							/>
						   
						{% endfor %}

						<div class="color--green-gray">{{ block.latestItemsDate }}</div>

						<div class="pb2">
							{{ block.latestItemsDescription }}
						</div>
						
						<div class="pb2">

							{% if block.latestItemsLinkOptions.contains('button') %}
								<button id="download-button" href="" class="btn-large color--white bg--green">{{ block.latestItemsLinkName }}
									<img
										alt="down"
										data-src="/assets/pointed-arrow-down.svg"
										class="dib down-arrow lazyload"
									/>
								</button>
							{% else %}
							    <div class="color--green-gray">
									{{ block.latestItemsLinkName }}
								</div>
							{% endif %}

						</div>
					</a>

				  </div>

			  {% endfor %}
			  
			</div>
		</div>
	</div>
</div>