<div class="grid-container contained pt10 tc about-section">
	<div class="row">
		<div class="col c12 wow fadeIn">
			<h2 class="sans--large fw--300 pb2">{{ entry.homepageAboutHeadline }}</h2>

			<div>{{ entry.homepageAboutSubHeadline }}</div>
		</div>
	</div>
	<div class="row pt10">
		<div class="col c12 c4--md mb5 mb0--md wow fadeIn">


			{% for asset in entry.homepageAboutDetailOneImage  %}
				{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="pb3 wow fadeIn lazyload"
								onerror="this.src='{{ asset.url}}'" 
								
							/>
			
			{% endfor %}

			<h3 class="sans--medium fw--600 mb1">{{ entry.homepageAboutDetailOneHeadline }}</h3>

			<div class="color--gray pl4 pr4">{{ entry.homepageAboutDetailOneParagraph }}</div>
		</div>
		<div class="col c12 c4--md mb5 mb0--md wow fadeIn">

			{% for asset in entry.homepageAboutDetailTwoImage  %}
			{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="pb3 wow fadeIn lazyload"
								onerror="this.src='{{ asset.url}}'" 
							/>
			{% endfor %}

			<h3 class="sans--medium fw--600 mb1">{{ entry.homepageAboutDetailTwoHeadline }}</h3>

			<div class="color--gray pl4 pr4">{{ entry.homepageAboutDetailTwoParagraph }}</div>
		</div>
		<div class="col c12 c4--md mb5 mb0--md wow fadeIn">

			{% for asset in entry.homepageAboutDetailThreeImage  %}
				{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="pb3 wow fadeIn lazyload"
								onerror="this.src='{{ asset.url}}'" 
							/>
			{% endfor %}

			<h3 class="sans--medium fw--600 mb1">{{ entry.homepageAboutDetailThreeHeadline }}</h3>

			<div class="color--gray pl4 pr4">{{ entry.homepageAboutDetailThreeParagraph }}</div>
		</div>
	</div>
</div>