<div class="grid-container flush">
	<div class="row shape-bg">
		<div class="col c12">
			<div class="grid-container contained flush--md tc tl--md">
				<div class="row pt5 pt10--md pb10--md pb5" id="main">
					<div class="col c12 c5--md display--mobile tc mb5">
	
						{% for asset in entry.homepageMainImage %}
							{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="pl0 pl2--md m--auto pt5 pt0--md wow fadeIn contain-width lazyload"
								onerror="this.src='{{ asset.url}}'" 
							/>							
							

						{% endfor %}

					</div>
					<div class="col c1--md"></div>

					<div class="col c12 c6--md wow fadeIn">
						<h2 class="sans--large fw--300">{{ entry.homepageMainHeadline }}</h2>

						<div class="pr3--md pr10--md">
							<div class="pt3 pr10--pr3 md pb3">{{ entry.homepageMainParagraph }}</div>
						</div>

						<div class="sans--small uppercase pb2 ref-toggle" id="ref-1">
							{{ entry.homepageMainAboveLinkText }}
						</div>
						
						<a href="/gated" target="_blank">
							<button href="{{ entry.homepageMainButtonLink }}" download class="btn-large color--white bg--green">{{ entry.homepageMainButtonText }} 
								<img
									alt="down"
									data-src="/assets/pointed-arrow-down.svg"
									class="contain-width dib pl2 lazyload"
								/>
							</button>
						</a>
					</div>
					<div class="col c12 c5--md display--desktop">


						{% for asset in entry.homepageMainImage %}
							{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								class="contain-width pl0 pl2--md pr4--md pt5 pt0--md wow fadeIn contain-width lazyload"
								onerror="this.src='{{ asset.url}}'" 
								
							/>								
						

						{% endfor %}
							
					</div>
				</div>

				<div class="row pt10--md pt0 pb10">
					<div class="col c1--md"></div>

					<div class="col c12 c5--md tc tl--d mb5">

					
						
						<img
							alt="Woman laying on MRI table"
							data-src="/assets/recent-research-image.webp"
							 onerror="this.src='/assets/recent-research-image.png'"
							class="img--webp wow fadeIn contain-width lazyload"
						/>
						
					</div>
					<div class="col c12 c6--md wow fadeIn">

						<h2 class="sans--large fw--300 pr5--md pr10--lg">
						{{ entry.homepageMainTwoHeadline }}</h2>

						<div class="pr10--md">
							<div class="pt3 pr10--xl pb3">{{ entry.homepageMainTwoParagraph }}</div>
						</div>
						<div class="mr10--md pr10--md">
							<div class="sans--small uppercase mr5--md mr10--xl mini-cta">{{ entry.homepageMainTwoMiniCta }}</div>
						</div>
							
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- reference modal popups for homepage -->

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-1">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-1">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/24742777/">
				<span class="number">1.</span>
				Singh H, Meyer AN, Thomas EJ. The frequency of diagnostic errors in outpatient care: estimations from three large observational studies involving US adult populations. BMJ Qual Saf. 2014 Sep;23(9):727-31.
				<!-- 1. Singh H, Meyer AN, Thomas EJ. The frequency of diagnostic errors in outpatient care: estimations from three large observational studies involving US adult populations. BMJ Qual Saf. 2014 Sep;23(9):727-31 -->
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-2">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-2">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://www.osha.gov/pls/oshaweb/owadisp.show_document?p_id=4481&p_table=UNIFIED_AGENDA">
				<span class="number">2.</span>
				Prevention of work-related musculoskeletal disorders. Occupational Safety and Health Administration (OSHA). US Department of Labor. 2014. 
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-3">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-3">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/21228314/">
				<span class="number">3.</span>
				Projections of the cost of cancer care in the United States: 2010–2020. Mariotto AB, Yabroff KR, Shao Y, Feuer EJ, Brown ML. J Natl Cancer Inst 2011;103(2): 117–28.
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-4">
    
		<header class="">
			
			<span class="close sans--medium fw-400 ref-toggle" id="ref-4">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="http://www.healthdata.org/research-article/global-regional-and-national-burden-neurological-disorders-1990%E2%80%932016-systematic">
				<span class="number">4.</span>
				GBD 2016 Neurology Collaborators. Global, regional, and national burden of neurological disorders, 1990–2016: a systematic analysis for the Global Burden of Disease Study 2016. The Lancet Neurology.
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-5">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-5">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://www.cardiosmart.org/Heart-Conditions/Guidelines/Primary-Prevention-Heart-Disease">
				<span class="number">5.</span>
				Arnett DK, Blumenthal RS, Albert MA, Buroker AB, Goldberger ZD, Hahn EJ, Himmelfarb CD, Khera A, Lloyd-Jones D, McEvoy JW, Michos ED, Miedema MD, Muñoz D, Smith SC Jr, Virani SS, Williams KA Sr, Yeboah J, Ziaeian B. 2019 ACC/AHA guideline on the primary prevention of cardiovascular disease: a report of the American College of Cardiology/American Heart Association Task Force on Clinical Practice Guidelines. J Am Coll Cardiol 2019;74:e177–232.
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-6">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-6">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5289824/">
				<span class="number">6.</span>
				Martucci KT, Ng P, Mackey S. Neuroimaging chronic pain: what have we learned and where are we going? Future Neurol. 2014 Nov; 9(6): 615–626.
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-7">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-7">&#10005;</span>
		</header>

		<p class="modal__text">
			<!-- <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5289824/"> -->
				<span class="number">7.</span>
				Covera Health, 2020. Data on File. 
			<!-- </a> -->
		</p>
		
	</div>	
</div>