
<div class="grid-container flush">
	<div class="mobile-img">
		
		{% for asset in entry.homepageAccordionBackgroundImage %}
		{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

							<img
								alt=""
								data-src="{{ asset.url(transform) }}"
								onerror="this.src='{{ asset.url}}'" 
								class="lazyload"
								
							/>
			
		{% endfor %}

	</div>
</div>

<div class="grid-container flush homepage-accordion color--white lazyload"
	{% for asset in entry.homepageAccordionBackgroundImage %}
	{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}

						
		data-bg='{{ asset.url(transform) }}'
		data-bg2='{{ asset.url}}'
	{% endfor %}
>
	<div class="row">

		<div class="grid-container contained">
			<div class="row">

				<div class="col c12 c6--md wow fadeIn">
					<div class="pt5 pt10--md pb5 pb10--md">
						<h2 class="tc tl--md sans--large fw--300 pr10--xl mb5 mb0--md">{{ entry.homepageAccordionHeadline }}</h2>

						<hr class="mt5 mb5 dib">

						<div id="homepage__accordion-container">

							<!-- OLD ACCORDION -->

	          				<div id="accordion-inner" class="home-acc-mobile">
	          					 <div class="accordion" tab-name="musculoskeletal">
				                  <h3>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
									<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
				                  {{ entry.homepageAccordionOneTitle }}</h3>
				                  <div class="accordion__body">
				                    <div class="ref-toggle" id="ref-2">{{ entry.homepageAccordionOneDetail }}
									</div>
				                  </div>
								</div>
								

				                <div class="accordion" tab-name="cancer">
				                  <h3>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
									<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
				                  {{ entry.homepageAccordionTwoTitle }}</h3>
				                  <div class="accordion__body">
				                    <div class="ref-toggle" id="ref-3">{{ entry.homepageAccordionTwoDetail }}
									</div>
				                  </div>
				                </div>
				                
				                <div class="accordion" tab-name="neurological-disorders">
				                  <h3>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
				                  {{ entry.homepageAccordionThreeTitle }}</h3>
				                  <div class="accordion__body">
				                    <div class="ref-toggle" id="ref-4">{{ entry.homepageAccordionThreeDetail }}
									</div>
				                  </div>
				                </div>
				                <div class="accordion" tab-name="heart-disease">
				                  <h3>
				                  <img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
									<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
								{{ entry.homepageAccordionFourTitle }}</h3>
				                  <div class="accordion__body">
				                    <div class="ref-toggle" id="ref-5">{{ entry.homepageAccordionFourDetail }}
									</div>
				                  </div>
				                </div>
				                <div class="accordion" tab-name="heart-disease">
				                  <h3>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
									<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
									{{ entry.homepageAccordionFiveTitle }}</h3>
				                  <div class="accordion__body">
				                    {{ entry.homepageAccordionFourDetail }}
				                  </div>
				                </div>				              

				                <div class="accordion" tab-name="chronic-pain">
				                  <h3>
				                  	<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
									/>
									<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right-green.svg"
										class="dib arrow display--mobile lazyload"
									/>
				                  {{ entry.homepageAccordionSixTitle }}</h3>
				                  <div class="accordion__body">
				                    <p class="ref-toggle" id="ref-6">{{ entry.homepageAccordionSixDetail }}
									</p>
				                  </div>
				                </div>

							</div>
							
							<!-- NEW ACCORDION -->
							
							<div class="acc-container home-acc-desktop">
								<div class="acc-btn">
									<h1 class="selected" id="one">
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right.svg"
											class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"
											class="dib arrow display--mobile lazyload"
										/>
										{{ entry.homepageAccordionOneTitle }}
									</h1>
								</div>
								<div class="acc-content open">
								  <div class="acc-content-inner">
									<div>
										{{ entry.homepageAccordionOneDetail }}
									</div>
								  </div>
								</div>
								
								<div class="acc-btn" id="">
									<h1 id="">
										<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"
											class="dib arrow display--mobile lazyload"
										/>
									{{ entry.homepageAccordionTwoTitle }}	
									</h1>
								</div>
								<div class="acc-content">
								  <div class="acc-content-inner">
									<div>
										{{ entry.homepageAccordionTwoDetail }}
									</div>
								  </div>
								</div>
								
								<div class="acc-btn" id="">
									<h1 id="">
										<img
										alt="white arrow"
										data-src="/assets/pointed-arrow-right.svg"
										class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"	
											class="dib arrow display--mobile lazyload"
										/>
									{{ entry.homepageAccordionThreeTitle }}	</h3>
									</h1>
								</div>
								<div class="acc-content">
								  <div class="acc-content-inner">
									<div>
										{{ entry.homepageAccordionThreeDetail }}
									</div>
								  </div>
								</div>
								
								<div class="acc-btn" id="">
									<h1 class="">
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right.svg"
											class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"
											class="dib arrow display--mobile lazyload"
										/>
										{{ entry.homepageAccordionFourTitle }}	
									</h1>
								</div>
								<div class="acc-content">
								  <div class="acc-content-inner">
									<div>
										{{ entry.homepageAccordionFourDetail }}
									</div>
								  </div>
								</div>

								<div class="acc-btn" id="">
									<h1 class="">
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right.svg"
											class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"
											class="dib arrow display--mobile lazyload"
										/>
										{{ entry.homepageAccordionFiveTitle }}	
									</h1>
								</div>
								<div class="acc-content">
								  <div class="acc-content-inner">
									{{ entry.homepageAccordionFiveDetail }}
								  </div>
								</div>
								
								<div class="acc-btn" id="">
									<h1 class="">
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right.svg"
											class="dib arrow display--desktop lazyload"
										/>
										<img
											alt="white arrow"
											data-src="/assets/pointed-arrow-right-green.svg"
											class="dib arrow display--mobile lazyload"
										/>
										{{ entry.homepageAccordionSixTitle }}								
									</h1>
								</div>
								<div class="acc-content">
								  <div class="acc-content-inner">
									<div>
										{{ entry.homepageAccordionSixDetail }}	
									</div>
								  </div>
								</div>


							</div>

						
						</div>
					</div>

				</div>
				<div class="col c12 c6--md">
				</div>
			</div>
		</div>

	</div>

	
</div>