{% block hero %}



<div class="grid-container flush home__top">
	<div class="row top home-top pb10--md pl2 pr2 pl0--md pr0--md specialBG lazyload"  
			{% for asset in entry.homepageHeroBackgroundImage %}
			{% set transform = {
							width: asset.width ,
							quality: 100,
							format:'webp'
							
							} %}
			data-bg='{{ asset.url(transform) }}'
			data-bg2='{{ asset.url}}'
			{% endfor %}
	>
		<div class="col c6--md">
		</div>

		<div class="col c12 c6--md pt8--md pb10 pb0--md tc tl--md ">

			<div class="desktop-text">
			
				<div class="pt4--md pl8--md pr5--md">
					<h1 class="sans--x-large fw--300">{{ entry.homepageHeroHeadline }}</h1>

					<div class="pt3 pr10--xl pb5 mr2 mr10--xlg">{{ entry.homepageHeroParagraph }}</div>

					<a href="#main">
						<button href="#main" class="btn-large color--white bg--green">{{ entry.homepageHeroButtonCtaText }} 
							<img
								alt="right"
								data-src="/assets/pointed-arrow-right.svg"
								class="contain-width dib pl3 lazyload"
								style="position: relative; bottom: -1px;"
							/>
						</button>
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="mobile-text">
		<div class="col pt5 pr2 pl2 c12 c6--md pt8--md pb5 pb0--md tc tl--md mobile-header">

			<div class="pt4--md pl8--md">
				<h1 class="sans--x-large fw--300">{{ entry.homepageHeroHeadline }}</h1>
	
				<div class="pt3 pr10--md pb5">{{ entry.homepageHeroParagraph }}</div>
	
				<a href="#main">
					<button href="#main" class="btn-large color--white bg--green">{{ entry.homepageHeroButtonCtaText }}  
						<img
							alt="right"
							data-src="/assets/arrow-right-white.webp"
							onerror="this.src='/assets/arrow-right-white.png'"
							class="contain-width dib pl3 lazyload"
						/>
					</button>
				</a>
			</div>
	
		</div>
	</div>
	
</div>
{% endblock %}