<div class="grid-container flush">

	<div class="row bb--white" style="position: relative; z-index: 0;">
		<div class="col c12">
			<div class="color--white">
				<div class="pr fixedScroller-container">
					<div class="grid-container flush up-index color--green row1"  id="news-links">
						<div class="row shape-bg9 pl2 pl0--md" id="press-coverage">
							<h3 class="about__main__headline display--mobile pt10 tc fw--600 sans--medium">Press Coverage</h3>
							<div class="col c12 c3--md">
								
							</div>
							<div class="col c12 c9--md">
								<div class="pr tl mt5 mt10--md mr10--md">

								{% for block in entry.newsPressCoverageItem %}

									<div class="row pt5 pr2 pr5--md pb5 bb--gray-light">
										<div class="col c9">

											<a href="{{ block.coverageLink }}" target="_blank">
												<div class="dib pb1">
													{{ block.coverageTitle }}
												</div>
												<div class="dib color--green-light">
													{{ block.coverageDate }} • {{ block.coverageSource }}
												</div>
											</a>

										</div>
										<div class="col c3">
											<a href="{{ block.coverageLink }}" class="btn-circle b--gray-light fr" target="_blank">
												<img
													alt="down"
													data-src="/assets/pointed-arrow-right-green.svg"
													class="dib pt1 lazyload"
												/>
											</a>
										</div>
									</div>

								{% endfor %}

							</div>
						</div>
					</div>
					<div class="grid-container flush up-index color--green"  id="news-links" style="">
						<div class="row row2 pl2 pl0--md" id="press-releases">
							<h3 class="about__main__headline display--mobile pt10 mb5 tc fw--600 sans--medium">Press Releases</h3>
							<div class="col c12 c3--md">
							</div>
							<div class="col c12 c9--md">
								<div class="pr tl mt10--md mr10--md">

									{% for block in entry.newsPressReleases %}

										<div class="row pt5 pr2 pr5--md pb5 bb--gray-light">
											<div class="col c9">
												<a href="{{ block.releaseLink }}" href="_blank">
													<div class="dib pb1">{{ block.releaseTitle }}</div>

													<div class="dib color--green-light">{{ block.releaseDate }} • {{ block.releaseSource }}</div>
												</a>
												
												
											</div>
											<div class="col c3">
												<a href="{{ block.releaseLink }}" class="btn-circle b--gray-light fr" target="_blank">
													<img
														alt="down"
														data-src="/assets/pointed-arrow-right-green.svg"
														class="dib pt1 lazyload"
													/>
												</a>
											</div>
										</div><!-- END release item -->

									{% endfor %}

								</div>
							</div>
						</div>
					

						<div class="row pb10 row3" id="resources">
							<h3 class="about__main__headline display--mobile pt10 mb5 tc fw--600 sans--medium">Resources</h3>
							<div class="col c12 c3--md">
							</div>
							<div class="col c12 c9--md">

								

								<div class="row tc pt10--md">
									<div class="col c12">

									</div>
									<div class="col c12 ">
										<div class="row">
											<div class="col c12">
												<div class="carousel-latest-content-buttons button-row fr mr3 mb5 mr5--md mt1 show--md">
							  				<button class="button button--previous">
							  					<img
												alt="carousel navigation back"
												data-src="/assets/pointed-arrow-left-green-large.svg"
												class="lazyload"
												/>
											</button>
							  				<button class="button button--next">
							  					<img
												alt="carousel navigation next"
												data-src="/assets/pointed-arrow-right-green-large.svg"
												class="lazyload"
												/>
							  				</button>
							  			</div>
									</div>
								</div>
								<div class="col c12">

									<div class="carousel-news-wrapper show--md"
									data-flickity='{ "freeScroll": true,
												"contain": true,
												"prevNextButtons": false,
												"pageDots": false,
												"groupCells": 2 }'>



										{% for block in entry.newsResources %}

											<div class="carousel-cell tl">
											
												{% for asset in block.resourceImage %}
													{% set transform = {
													width: asset.width ,
													quality: 100,
													format:'webp'
													
													} %}

													<img
														alt=""
														data-src="{{ asset.url(transform) }}"
														class="db pb1 news-item-img contain-width lazyload"
														onerror="this.src='{{ asset.url}}'" 
													/>		
												    
												{% endfor %}
								
												<div class="color--green-gray">{{ block.resourceTitle }}</div>

												<div class="pb2 pb3--md">
													{{ block.resourceDescription }}
												</div>

												<a href="{{ block.resourceButtonLink }}" class="btn-large color--white bg--green">{{ block.resourceButtonText }}
													<img
														alt="right"
														data-src="/assets/pointed-arrow-right.svg"
														class="dib pl1 lazyload"
														style="position: relative; bottom: -1px;"
													/>
												</a>
											</div>
										{% endfor %}
										  
										
											</div>
									</div>
								</div>


								<div class="row tc pt10--md ">
									<div class="col c12">
									</div>

									</div>
									<div class="col c12 carousel-news-wrapper hide--md">

										<div class="carousel-news">



										{% for block in entry.newsResources %}

											<div class="carousel-cell tl">
											
												{% for asset in block.resourceImage %}
													{% set transform = {
													width: asset.width ,
													quality: 100,
													format:'webp'
													
													} %}

													<img
														alt=""
														data-src="{{ asset.url(transform) }}"
														class="db pb1 news-item-img contain-width lazyload"
														onerror="this.src='{{ asset.url}}'" 
													/>	
												   
												{% endfor %}
								
												<div class="color--green-gray">{{ block.resourceTitle }}</div>

												<div class="pb2 pb3--md">
													{{ block.resourceDescription }}
												</div>

												<a href="{{ block.resourceButtonLink }}" class="btn-large color--white bg--green">{{ block.resourceButtonText }}
													<img
														alt="right"
														data-src="/assets/pointed-arrow-right.svg"
														class="dib pl1 lazyload"
														style="position: relative; bottom: -1px;"
													/>
												</a>
											</div>
										{% endfor %}
									</div>
										  
										
											
									</div>
								</div>

							</div>
						</div>
					</div>
					
					<div class="fixedScroller-fixed-side side-scroller" style="width: 25%;">
						<div class="grid-container contained">
							<div class="row">
								<div class="col c12">

									<div class="mt5 pt10 uppercase scroller-navigation color--green something">
										
										<p>
											<a class="pt5 link-one" href="#press-coverage">Press Coverage</a>
										</p>

										<p>
											<a class="link-two" href="#press-releases">Press Releases</a>
										</p>

										<p>
											<a class="link-three" href="#resources">Resources</a>
										</p>

									</div>
									

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>