<div class="grid-container flush tc tl--md">
	<div class="row news-top top bg--green color--white">
		<div class="col c12 c1--md"></div>
		<div class="col c12 c6--md pt8 pt0--md pt8--xl pb8--md">
			<div class="pt4--md pl8--md partners-top">
				<h1 class="sans--x-large fw--300 pb2 pb5--md">{{ entry.newsHeroHeadline }}</h1>

				<div class="pr10--md pr5 pl5 pl0--md pb5">{{ entry.newsHeroParagraph }}</div>

				<a href="{{ entry.newsHeroButtonLink }}" class="btn-large color--white b--white" target="_blank">{{ entry.newsHeroButtonText }}
					<img
						alt="down"
						data-src="/assets/pointed-arrow-down.webp"
						onerror="this.src='/assets/pointed-arrow-down.png'"
						class="dib pl3 lazyload"
					/>
				</a>
			</div>
		</div>
		<div class="col c12 c5--md pt5 pt8--md col--whitepaper">
			<div class="pt4 pt0--md pt4--xl pr8--md">

				{% for asset in entry.newsHeroImage %}
					{% set transform = {
						width: asset.width ,
						quality: 100,
						format:'webp'
						
						} %}

						<img
							alt=""
							data-src="{{ asset.url(transform) }}"
							class="contain-width db news__top__hero lazyload"
							onerror="this.src='{{ asset.url}}'" 
						/>	
					
				{% endfor %}

			
			</div>
		</div>
	</div>
</div>