
<div class="grid-container flush ourwork__top">
	<div class="row ourwork-top color--white lazyload"

	{% for asset in entry.imageHeroBackgroundImage %}
	{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

							
		data-bg='{{ asset.url(transform) }}'
		data-bg2='{{ asset.url}}'
	{% endfor %}

	>

		<div class="desktop-text">
			<div class="col c12 c6--lg c6--md pt10--lg pt0 pt5--md tc tl--md">
				<div class="pl9--md pl2 pl0--md pr2 pt2 pt10--md">
					
					{% if entry.imageHeroHeadline %}
					<h1 class="sans--x-large fw--300 pr5--md pt1--md">{{ entry.imageHeroHeadline }}</h1>
					{% else %}{% endif %}
					
					{% if entry.imageHeroParagraph %}
					<div class="pt3 pr10--md pb10">{{ entry.imageHeroParagraph }}</div>
					{% else %}{% endif %}
				</div>
				
			</div>
		</div>

	</div>

	<div class="mobile-text pl5--sm pr5--sm pb5--sm pb0--md pr0--md pl0--md">
		<div class="col c12 c6--lg c6--md pt10--lg pt5--smm pt5--md tc tl--md">

			
			<div class="pl9--md pl2 pl0--md pr2 pt4 partners-top">

				{% if entry.imageHeroHeadline %}
				<h1 class="sans--x-large fw--300 pr5--md">{{ entry.imageHeroHeadline }}</h1>
				{% else %}{% endif %}

				{% if entry.imageHeroParagraph %}
				<div class="pt3 pr10--md pb10--md pb5">{{ entry.imageHeroParagraph }}</div>
				{% else %}{% endif %}
			</div>
			
		</div>
	</div>
</div>