
<div class="grid-container overflow flush ourwork-carousel-wrapper">
	<div class="row tc gutter--none">
		<div class="col c12 c6--md">
			<div class="pr tl random">
				<div class="tc color--white">

					<div class="carousel-ourwork-buttons button-row tl pl1 pb2 pa" style="z-index: 1; width: 100%;">
						<button class="button button--previous pa" style="">
							<img
						  alt="carousel navigation back"
						  src="/assets/carat-left-white.webp"
						  onerror="this.src='/assets/carat-left-white.png'"
						  />
					  </button>
						<button class="button button--next pa" style="">
							<img
						  alt="carousel navigation next"
						  data-src="/assets/carat-right-white.webp"
						 onerror="this.src='/assets/carat-right-white.png'"
						  class="lazyload"
						  />
						</button>
					</div>
					
					<div class="carousel carousel-ourwork wow fadeIn mh100"
					  data-flickity='{ 
						"contain": true,
						"prevNextButtons": false,
						"pageDots": true,
						"dragThreshold": 15
						}'>
						<div class="carousel-cell first-slide">
							<div class="pt5 pb5 ourwork__scroller pr10--sm pl10--sm pr5--md pl5--md vertical-align-container pr5 pl5 bg--green pr" style="">

								<h2 style="max-width: 100%;" class="sans--medium-large fw--300 pt5 pt10--xl pb2 pt2 pr10--md pl10--md limit-width">How Covera Health partners with local radiology providers to elevate quality care for all</h2>

							</div>
						</div>

						<div class="carousel-cell">
							<div class="vertical-align-container ourwork__scroller pr10--sm pl10--sm pr5--md pl5--md pr5 pl5 bg--purple" style="">

								<div class="wow fadeIn vertical-align-container">
									<img
										alt="one"
										data-src="/assets/one.webp"
										 onerror="this.src='/assets/cone.png'"
										class="contain-width pb2 lazyload"
									/>
									<h2 class="sans--medium-large fw--300 pb2 pt2">Provider Assessment</h2>
									<p class="mr2--md ml2--md tc">Our analytics platform generates robust measures of diagnostic accuracy across pathologies and patient types.</p>
								</div>
								
							</div>
						</div>

						<div class="carousel-cell">
							<div class="vertical-align-container ourwork__scroller pr10--sm pl10--sm pr5--md pl5--md pr5 pl5 bg--blue-gray" style="">

								<div class="wow fadeIn vertical-align-container">
									<img
										alt="two"
										data-src="/assets/two.webp"
										 onerror="this.src='/assets/two.png'"
										class="contain-width pb2 lazyload"
									/>
									<h2 class="sans--medium-large fw--300 pb2 pt2">Actionable Feedback</h2>
									<p class="tc mr2--md ml2--md">These data help radiologists validate accuracy relative to peers, fostering continuous improvement.</p>
								</div>
								
							</div>
						</div>

						<div class="carousel-cell">

							<div class="vertical-align-container ourwork__scroller pr10--sm pl10--sm pr5--md pl5--md pr5 pl5 bg--dark-blue-gray" style="">

								<div class="wow fadeIn vertical-align-container">
									<img
										alt="three"
										data-src="/assets/three.webp"
										 onerror="this.src='/assets/three.png'"
										class="contain-width pb2 lazyload"
									/>
									<h2 class="sans--medium-large fw--300 pb2 pt2">Patient Matching</h2>
									<p class="tc mr2--md ml2--md">And it allows us to pair patients with radiologists who excel at diagnosing their specific issue.</p>
								</div>
							
							</div>
						</div>

						<div class="carousel-cell last-slide">

							<div class="vertical-align-container ourwork__scroller pr10--sm pl10--sm pr5--md pl5--md pr5 pl5 bg--green" style="">
								<div class="wow fadeIn vertical-align-container">
									<img
										alt="four"
										data-src="/assets/four.webp"
										 onerror="this.src='/assets/four.png'"
										class="contain-width pb2 lazyload"
									/>
									<h2 class="sans--medium-large fw--300 pb2 pt2">Superior Outcomes</h2>
									<p class="tc mr2--md ml2--md">Helping you ensure patients get the right diagnosis from the start, improving lives and reducing costs.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col c12 c6--md mri-wrapper lazyload"

			{% for asset in entry.ourworkSliderImage %}
				{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

							
				data-bg='{{ asset.url(transform) }}'
				data-bg2='{{ asset.url}}'
			{% endfor %}
		>	
			
			{% for asset in entry.ourworkSliderImage %}
				
				{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

								<img
									alt=""
									data-src="{{ asset.url(transform) }}"
									class="db woman-scrubs hide--md lazyload"
									style="width: 100%;"
									onerror="this.src='{{ asset.url}}'" 
								/>
				

			{% endfor %}

		</div>
	</div>

</div>