
<div class="grid-container flush">
	<div class="row bg--green-gray">
		<div class="col c12">
			<div class="grid-container flush">
				<div class="row pt10 pb10">

					<div class="col c12">

            <h2 class="color--white sans--large fw--300 pb5 tc wow fadeIn">
              {{ entry.ourworkAccordionsectionHeadline }}
              </h2>

            <div id="ourwork__accordion-container" style="overflow:hidden;">

              <div class="acc-container">
                <div class="acc-btn bg--gray-x-light" id="types-of-errors"><h1 class="selected" id="one">Types of Errors</h1></div>
                <div class="acc-content open">
                  <div class="acc-content-inner">
                    <p class="ref-toggle" id="ref-9">The origins of radiology misdiagnosis are diverse, ranging from issues with image quality to differences in interpretation between radiology providers.
                      <sup>9</sup>
                    </p>
                    <div id="types-of-errors-img display--mobile" style="">
                      <img 
                      data-src="/assets/mri-types-graph.webp" 
                      onerror="this.src='/assets/mri-types-graph.png'"
                      alt="Types of Errors"
                      class="display--mobile lazyload"
                      style="max-width: 100%;"
                      />
                    </div>
                  </div>
                </div>
                
                <div class="acc-btn bg--green-x-light" id="technical-quality"><h1 id="mine">Technical Quality</h1></div>
                <div class="acc-content">
                  <div class="acc-content-inner">
                    <p class="mb1">The strength and resolution of older imaging devices vary widely. </p>

                    <p class="mb1">In the lower quality image, individual nerve roots and organ tissue are difficult to see. </p>
                    <div class="dn db--md">
                      <p>
                        <img 
                          data-src="/assets/dot-red.webp"
                          onerror="this.src='/assets/dot-red.png'"
                          class="pr1 lazyload"
                        /> Nerve Roots
                      </p>
                      <p>
                        <img 
                          data-src="/assets/dot-blue.webp"
                         onerror="this.src='/assets/dot-blue.png'"
                          class="pr1 lazyload"
                        /> Organ Tissue
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="acc-btn bg--green-med-light" id="interpretive-errors"><h1 id="three">Interpretive Errors</h1></div>
                <div class="acc-content">
                  <div class="acc-content-inner">
                    <p>Errors in interpretation can send patients down the wrong path.</p>
                    <p>Failure to describe the muscle atrophy accompanying this rotator cuff tear represents a missed chance to flag that the patient may be a poor candidate for surgery and unlikely to recover well.</p>
                  </div>
                </div>
                
                <div class="acc-btn bg--green-gray-light" id="protocol-differences"><h1 class="last">Protocol Differences</h1></div>
                <div class="acc-content">
                  <div class="acc-content-inner">
                    <p>Imaging center protocols often prioritize speed over coverage.  </p>
                    <p>When MRI sections are widely spaced, interpretation is more difficult and radiologists can miss important information. </p>
                  </div>
                </div>
                </div>
                              

              <div id="accordion__img" class="rangeen db display--desktop">
                <div id="types-of-errors-img" style="">
                  
                    <img 
                    data-src="/assets/mri-types-graph.webp" 
                     onerror="this.src='/assets/mri-types-graph.png'"
                    alt="Types of Errors"
                    class="display--desktop lazyload"
                  />
                  
                  
                </div>

                <div id="technical-quality-img">

                  <img 
                      data-src="/assets/mobile-acc/1.webp"
                      onerror="this.src='/assets/mobile-acc/1.png'"
                      class="touch-img lazyload"
                  />

                  <figure class="cd-image-container">
                    <img 
                      data-src="/assets/low-res.webp"
                       onerror="this.src='/assets/low-res.png'"
                      class="lazyload"
                    />
                    <span class="cd-image-label" data-type="original">low resolution</span>

                    <div class="cd-resize-img"> <!-- the resizable image on top -->
                      <img 
                        data-src="/assets/high-res.webp"
                       onerror="this.src='/assets/high-res.png'"
                        class="lazyload"
                      />
                      <span class="cd-image-label" data-type="modified" style="width: 130.27px;">high resolution</span>
                    </div>

                    <span class="cd-handle"></span>
                  </figure> <!-- cd-image-container -->

                </div>

                <div id="interpretive-errors-img">
                  <img 
                      data-src="/assets/mobile-acc/2.webp"
                       onerror="this.src='/assets/mobile-acc/2.png'"
                      class="touch-img lazyload"
                  />

                  <figure class="cd-image-container">
                    <img 
                      data-src="/assets/mri-interpretive-atrophied.webp"
                      onerror="this.src='/assets/mri-interpretive-atrophied.png'"
                      class="atrophy lazyload"
                    />
                    <span class="cd-image-label" data-type="original">Atrophied</span>
                
                    <div class="cd-resize-img"> <!-- the resizable image on top -->
                      <img 
                        data-src="/assets/mri-interpretive-normal.webp"
                       onerror="this.src='/assets/mri-interpretive-normal.png'"
                        class="lazyload"
                      />
                      <span class="cd-image-label" data-type="modified" style="width: 66.95px;">Normal</span>
                    </div>
                
                    <span class="cd-handle"></span>
                  </figure> <!-- cd-image-container -->
                </div>

                <div id="protocol-differences-img">


                  <img 
                      data-src="/assets/mobile-acc/3.webp"
                       onerror="this.src='/assets/mobile-acc/3.png'"
                      class="touch-img lazyload"
                  />

                  <figure class="cd-image-container">
                    <img 
                      data-src="/assets/mri-protocol-20images.webp"
                       onerror="this.src='/assetsmri-protocol-20images.png'"
                      class="lazyload"
                    />
                    <span class="cd-image-label" data-type="original">20 Images (~15 Minutes)</span>
                
                    <div class="cd-resize-img"> <!-- the resizable image on top -->
                      <img 
                        data-src="/assets/mri-protocol-44images.webp"
                         onerror="this.src='/assets/mri-protocol-44images.png'"
                        class="lazyload"
                      />
                      <span class="cd-image-label" data-type="modified" style="width: 215.25px;">44 Images (~40 Minutes)</span>
                    </div>
                
                    <span class="cd-handle"></span>
                  </figure> <!-- cd-image-container -->
                </div>
              </div>
              
            </div>

					</div>
				</div>


			</div>
		</div>
	</div>
</div>