<div class="grid-container flush">
	<div class="row shape-bg8">
		<div class="col c12">
			<div class="grid-container flush--md contained">
				<div class="row pt10 pb10">

					<div class="col c12 c6--md tc">

							{% for asset in entry.ourworkMainLeftColumnImage %}
								{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

								<img
									alt=""
									data-src="{{ asset.url(transform) }}"
									class="contain-width pie-chart lazyload"
									onerror="this.src='{{ asset.url}}'" 
								/>	
							
							{% endfor %}


						<div class="db dn--md mt5 key-wrapper">

							<ul class="key uppercase sans--small o75 tl pl2--md left-key">
								<li>UNNECESSARY SERVICE</li>
								<li>INEFFICIENT DELIVERY</li>
								<li>Excess Administration Costs</li>
								<li>Overcharging</li>
								<li>Fraud</li>
								<li>Missed Prevention</li>
							</ul>

						</div>
							
						
					</div>
					<div class="col c12 c6--md tc tl--md pt10 pt3--md"> 
						<div class="pl5--sm pr5--sm pr0--md pl0--md"> <!-- matched extra padding for iPad -->
							<h2 class="sans--large fw--300 pb2 pr5--md pr10--lg">{{ entry.ourworkMainRightHeadline }}</h2>

							<div class="pr10--md wow fadeIn">
								<div class="pb5 pr10--md ref-toggle" id="ref-8">{{ entry.ourworkMainRightParagraph }}
								</div>
								
								<ul class="key uppercase sans--small o75 tl dn db--md">
									<li>UNNECESSARY SERVICE</li>
									<li>INEFFICIENT DELIVERY</li>
									<li>Excess Administration Costs</li>
									<li>Overcharging</li>
									<li>Fraud</li>
									<li>Missed Prevention</li>
								</ul>

							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
</div>

<!-- reference popups for our work page -->

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-8">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-8">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://www.ncbi.nlm.nih.gov/books/NBK338596/">
				<span class="number">8.</span>
				National Academy of Medicine 2015. Improving Diagnosis in Health Care. Washington, DC: The National Academies Press. 
			</a>
		</p>
		
	</div>	
</div>

<div class="modalContainer modalContainer--ref vertical-align-container">
	<div class="modal modal--about modal--ref p2 m--auto" id="ref-9">
    
		<header class="">
			<span class="close sans--medium fw-400 ref-toggle" id="ref-9">&#10005;</span>
		</header>

		<p class="modal__text">
			<a target="_blank" href="https://pubs.rsna.org/doi/10.1148/rg.2015150023">
				<span class="number">9.</span>
				Bruno MA, Walker EA, Abujudeh HH. Understanding and Confronting Our Mistakes: The Epidemiology of Error in Radiology and Strategies for Error Reduction. RadioGraphics 2015. 
			</a>
		</p>
		
	</div>	
</div>