<div class="grid-container flush tc shape-bg8 ourwork__scaling">
	<div class="row pl5--sm pr5--sm pr0--md pl0--md"> <!-- matched extra padding for iPad -->
		<div class="grid-container contained pt10 pb10 color--green">
			<div class="row pt10">
				<div class="col c12 pr10 pl10">
					<h2 class="headline sans--medium-large fw--300 pb2 pr2 pl2 pr10--md pl10--md wow fadeIn limit-width">{{ entry.ourworkMainTwoHeadline }}</h2>
				</div>
			</div>
			<div class="row pt10 pb10">
				<div class="col c4">

					<h3 class="sans--xx-large fw--600 mb1 wow fadeIn">{{ entry.ourworkMainTwoColumnOneHeadline }}</h3>

					<div class="pl4--md pr4--md">{{ entry.ourworkMainTwoColumnOneParagraph }}</div>
				</div>
				<div class="col c4">

					<h3 class="sans--xx-large fw--600 mb1 wow fadeIn">{{ entry.ourworkMainTwoColumnTwoHeadline }}</h3>

					<div class="pl4--md pr4--md">{{ entry.ourworkMainTwoColumnTwoParagraph }}</div>
				</div>
				<div class="col c4">

					<h3 class="sans--xx-large fw--600 mb1 wow fadeIn">{{ entry.ourworkMainTwoColumnThreeHeadline }}</h3>

					<div class="pl4--md pr4--md">{{ entry.ourworkMainTwoColumnThreeParagraph }}</div>
				</div>
			</div>
		</div>
	</div>
</div>