<div class="grid-container flush overflow">
	<div class="row pt10 bg--green pb10 pb0--md">
		<div class="col c12">
			<div class="grid-container contained overflow">
				<div class="row pb3--sm pb0--md color--white">
					<div class="col c12 tc pb4 wow fadeIn">
						<h2 class="sans--large fw--300">{{ entry.patientsFaqSectionHeadline }}</h2>
					</div>
				</div>
				<div class="row wow fadeIn">
					<div class="col c12">
						<div class="pr--md pl2--md pr2--md">
							<div class="pa--md">
								<div class="patients-faq-container">
									<div class="patients-faq p3 p5--md">
											<div class="color--green sans--x-medium">{{ entry.patientsFaqOneHeadline }}</div>

											<div class="color--gray pt2 pb5 bb--gray-light">{{ entry.patientsFaqOneParagraph }}</div>

											<p class="color--green sans--x-medium pt5">{{ entry.patientsFaqTwoHeadline }}</p>

											<div class="color--gray pt2">{{ entry.patientsFaqTwoParagraph }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>