<div class="grid-container flush overflow">
	<div class="row shape-bg4">
		<div class="col c12">
			<div class="grid-container flush--md contained overflow">
				<div class="row pt10 pb5 tc tl--md">
					<div class="col c12 c1--md"></div>
					<div class="col c12 c6--md">
						<h2 class="sans--large fw--300 pb2 pr10--xl">{{ entry.patientsMainHeadline }}</h2>
						<div class="pr10--xl">
							<div class="pb5 pr10--lg wow fadeIn">{{ entry.patientsMainParagraph }}</div>
						</div>
					</div>
					<div class="col c12 c5--md">
						{% for asset in entry.patientsMainImage %}
							{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

								<img
									alt=""
									data-src="{{ asset.url(transform) }}"
									class="contain-width middle-aged-couple pr4--md lazyload"
									style="position: relative; z-index: 999;"
									onerror="this.src='{{ asset.url}}'" 
								/>
							
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>