<div class="grid-container flush">
	<div class="row top color--white providers-top" style="overflow-y: hidden;">
		<div class="col c12 c6--lg c6--md pt2--xl pt10--lg pt10--md m--auto">
			<div class="providers-gif">
				<img
					alt="gradient of dots"
					data-src="/assets/covera-logo-crop-color.gif"
					class="contain-width pt5 pt0--md pl0 pr0 pl5--md pb0 pb5--md pr5--md m--auto vertical-align-container lazyload"
				/>
			</div>
			<div class="providers-video">
				<video loop autoplay muted
					src="/assets/Covera Logo.mp4"
					class="contain-width pt2 pt0--md pl2 pr2 pl5--md pb0 pb5--md pr5--md m--auto vertical-align-container"
				>
				</video>
			</div>
		</div>
		<div class="col c12 c6--lg c6--md pt10--lg pt2 pt5--md tc tl--md">
			<div class="pl2 pl0--md pr2 partners-top">
				<h1 class="sans--x-large fw--300">{{ entry.partnerHeroHeadline }}</h1>

				<div class="pt3 pr10--md pb10">{{ entry.partnerHeroParagraph }}</div>
			</div>

		</div>
	</div>
</div>

