<div class="grid-container flush overflow">
	<div class="row shape-bg2">
		<div class="col c12">
			<div class="grid-container flush--md contained overflow">
				<div class="row pt10 pb10--md tc tl--md">
					<div class="col c12 c1--md"></div>

					<div class="col c12 c6--md color--green">
						<div class="pr5--md">
							<h2 class="sans--large fw--300 pb2 pr10--xl">{{ entry.providersMainHeadline }}</h2>
						</div>

						<div class="pr10--xl">
							<div class="pt2 pr10--lg pb5 wow fadeIn">{{ entry.providersMainParagraph}}</div>
						</div>
						
						<div class="show--md misc-info">

							<div class="sans--small mb0 uppercase wow fadeIn">{{ entry.providersMainMiscInfo }}</div>

						</div>

						
					</div>
					<div class="col c12 c5--md">

						{% for asset in entry.providersMainImage %}
						{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

								<img
									alt=""
									data-src="{{ asset.url(transform) }}"
									class="contain-width neg-margin--150 mt5 mt0--md pr4--md lazyload"
									style="position: relative; z-index: 999;"
									onerror="this.src='{{ asset.url}}'" 
								/>
							
						{% endfor %}

						<div class="hide--md tc mt5 misc-info">
							<p class="sans--small mb0 uppercase wow fadeIn">{{ entry.providersMainMiscInfo }}
						</div>

							
					</div>
				</div>

				<div class="row pt10 pb10">
					<div class="col c12 c1--md"></div>

					<div class="col c12 c5--md tc">

						{% for asset in entry.providersMainSecondImage %}
							{% set transform = {
								width: asset.width ,
								quality: 100,
								format:'webp'
								
								} %}

								<img
									alt=""
									data-src="{{ asset.url(transform) }}"
									class="contain-width wow fadeIn lazyload"
									onerror="this.src='{{ asset.url}}'" 
								/>
							
						{% endfor %}
						
					</div>
					<div class="col c12 c6--md tc tl--md wow fadeIn">

						<h2 class="sans--large fw--300 pt6 pr10--md">{{ entry.providersMainSecondHeadline }}</h2>

						<div class="pr10--md">
							<div class="pt3 pr10--md pb5--md">{{ entry.providersMainSecondParagraph }}</div>
						</div>
							
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{# modal  #}

<div class="modalContainer vertical-align-container">
	<div class="modal pt5 pb5 pl5 pr5 tc">
    
		<header class="pb5">
		  <p class="model__headline sans--medium fw--400 m--auto color--green-dark">Covera Health has developed a multi-step, collaborative process with radiology practices to elevate diagnostic quality for all.</p>
		  <span class="close toggleModal sans--medium fw-400" id="closeModal">&#10005;</span>
		</header>
		
		<section>

		  <div class="module mb4">
				<i class="m--auto vertical-align-container fw--800 sans--small mb2">1</i>
				<span class="fw--800">Provider Assessment</span>
				<p class="fw--400 color--gray">
					generates robust analytics on interpretive accuracy
				</p>
		  </div>
		  <div class="module mb4">
				<i class="m--auto vertical-align-container fw--800 sans--small mb2">2</i>
				<span class="fw--800">Patient Matching</span>
				<p class="fw--400 color--gray">
					routes patients to radiologists who excel at specific pathologies
				</p>
		  </div>
		  <div class="module mb4">
				<i class="m--auto vertical-align-container fw--800 sans--small mb2">3</i>
				<span class="fw--800">Actionable Feedback</span>
				<p class="fw--400 color--gray">
					fosters continuous learning and improvement
				</p>
		  </div>
		  <div class="module mb4">
				<i class="m--auto vertical-align-container fw--800 sans--small mb2">4</i>
				<span class="fw--800">Superior Outcomes</span>
				<p class="fw--400 color--gray">
					demonstrated to payers through post-imaging claims data
				</p>
		  </div>
		  
		</section>
		
	  </div>	
</div>

  