<div class="grid-container flush">
	<div class="row bg--green color--white pt10 pb10">
		<div class="col c12">
			<div class="grid-container contained">
				<div class="row">
					<div class="col c12 c6--md wow fadeIn">

						<h2 class="sans--large fw--300 pb2 pl5--md tc tl--md">{{ entry.providersFormHeadline }}</h2>

						<div class="pr6--md pl5--md tc tl--md">
							<div class="pr10--md">{{ entry.providersFormParagraph }}</div>
						</div>
						
					</div>
					<div class="col c12 c6--md pt2 pt0--md">

						<p class="sans--caption mb2">
							<span class="">*</span>
							Required information
						</p>

						{% include 'components/providers__form' %}
							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>