<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.16036" type="text/javascript"></script>
<script src="https://js.jotform.com/vendor/postMessage.js?3.3.16036" type="text/javascript"></script>
<script src="https://js.jotform.com/WidgetsServer.js?v=1583888733578" type="text/javascript"></script>
<script type="text/javascript">
  JotForm.init(function(){
if (window.JotForm && JotForm.accessible) $('input_3').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_5').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_8').setAttribute('tabindex',0);
  JotForm.newDefaultTheme = false;
      JotForm.alterTexts(undefined);
  JotForm.clearFieldOnHide="disable";
  JotForm.submitError="jumpToFirstError";
    /*INIT-END*/
  });

  JotForm.prepareCalculationsOnTheFly([null,{"name":"participateWith","qid":"1","text":"Participate with Covera Health","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"description":"","name":"practiceName","qid":"3","subLabel":"","text":"Practice Name","type":"control_textbox"},{"description":"","name":"Of","qid":"4","subLabel":"","text":"# of Radiologists","type":"control_dropdown"},{"description":"","name":"city","qid":"5","subLabel":"","text":"City","type":"control_textbox"},null,{"description":"","name":"yourName","qid":"7","text":"Your Name","type":"control_fullname"},{"description":"","name":"yourRole","qid":"8","subLabel":"","text":"Your Role","type":"control_textbox"},null,{"description":"","name":"state10","qid":"10","subLabel":"","text":"State","type":"control_dropdown"},{"description":"","name":"phoneNumber","qid":"11","text":"Phone Number","type":"control_phone"},{"description":"","name":"email","qid":"12","subLabel":"example@example.com","text":"Email","type":"control_email"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"participateWith","qid":"1","text":"Participate with Covera Health","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"description":"","name":"practiceName","qid":"3","subLabel":"","text":"Practice Name","type":"control_textbox"},{"description":"","name":"Of","qid":"4","subLabel":"","text":"# of Radiologists","type":"control_dropdown"},{"description":"","name":"city","qid":"5","subLabel":"","text":"City","type":"control_textbox"},null,{"description":"","name":"yourName","qid":"7","text":"Your Name","type":"control_fullname"},{"description":"","name":"yourRole","qid":"8","subLabel":"","text":"Your Role","type":"control_textbox"},null,{"description":"","name":"state10","qid":"10","subLabel":"","text":"State","type":"control_dropdown"},{"description":"","name":"phoneNumber","qid":"11","text":"Phone Number","type":"control_phone"},{"description":"","name":"email","qid":"12","subLabel":"example@example.com","text":"Email","type":"control_email"}]);}, 20); 
</script>
<!-- <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.16036" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.16036" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.16036" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/> -->
<style type="text/css">
    .form-label-left{
        width:150px;
        
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    .form-all{
        /* width:690px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px; */
    }
</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
.form-label.form-label-auto { display: block; float: none; text-align: left; width: inherit; } /*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>

<form class="jotform-form gated-form providers providers__form" action="https://submit.jotform.com/submit/200697598448069/" method="post" name="form_200697598448069" id="200697598448069" accept-charset="utf-8" autocomplete="on">

<!-- <form class="jotform-form gated-form providers providers__form" action="https://submit.jotform.com/submit/200697598448069/" method="post" name="form_200697598448069" id="200697598448069" accept-charset="utf-8" autocomplete="on"> -->

<!-- <form class="jotform-form gated-form providers providers__form" action="https://submit.jotform.com/submit/200697598448069/" method="post" name="form_200697598448069" id="200697598448069" accept-charset="utf-8" autocomplete="on"> -->
  <input type="hidden" name="formID" value="200697598448069" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <!-- <h2 id="header_1" class="form-header" data-component="header">
              Participate with Covera Health
            </h2> -->
          </div>
        </div>
      </li>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_3">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3">
          Practice Name
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_3" class="form-input-wide jf-required">
          <input placeholder="Practice Name *" type="text" id="input_3" name="q3_practiceName" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_3" required="" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_4">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">
          # of Radiologists
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_4" class="form-input-wide jf-required custom-select">
          <select onchange="this.className=this.options[this.selectedIndex].className"
            class="color--half-white form-dropdown validate[required]" id="input_4" name="q4_Of" style="" data-component="dropdown" required="" aria-labelledby="label_4">
            <option class="color--half-white" value="" class="first"> # of Radiologists *</option>
            <option class="color--white" value="&lt; 5"> &lt; 5 </option>
            <option class="color--white" value="5 - 15"> 5 - 15 </option>
            <option class="color--white" value="15 - 25"> 15 - 25 </option>
            <option class="color--white" value="&gt; 25"> &gt; 25 </option>
          </select>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_5">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5">
          City
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_5" class="form-input-wide jf-required">
          <input placeholder="City *" type="text" id="input_5" name="q5_city" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_5" required="" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_10">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10">
          State
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_10" class="form-input-wide jf-required custom-select">
          <select onchange="this.className=this.options[this.selectedIndex].className"
            class="color--half-white form-dropdown validate[required]" id="input_10" name="q10_state10" style="" data-component="dropdown" required="" aria-labelledby="label_10">
            <option class="color--half-white" value=""> State *</option>
            <option class="color--white" value="Alabama"> Alabama </option>
            <option class="color--white" value="Alaska"> Alaska </option>
            <option class="color--white" value="Arizona"> Arizona </option>
            <option class="color--white" value="Arkansas"> Arkansas </option>
            <option class="color--white" value="California"> California </option>
            <option class="color--white" value="Colorado"> Colorado </option>
            <option class="color--white" value="Connecticut"> Connecticut </option>
            <option class="color--white" value="Delaware"> Delaware </option>
            <option class="color--white" value="Florida"> Florida </option>
            <option class="color--white" value="Georgia"> Georgia </option>
            <option class="color--white" value="Hawaii"> Hawaii </option>
            <option class="color--white" value="Idaho"> Idaho </option>
            <option class="color--white" value="Illinois"> Illinois </option>
            <option class="color--white" value="Indiana"> Indiana </option>
            <option class="color--white" value="Iowa"> Iowa </option>
            <option class="color--white" value="Kansas"> Kansas </option>
            <option class="color--white" value="Kentucky"> Kentucky </option>
            <option class="color--white" value="Louisiana"> Louisiana </option>
            <option class="color--white" value="Maine"> Maine </option>
            <option class="color--white" value="Maryland"> Maryland </option>
            <option class="color--white" value="Massachusetts"> Massachusetts </option>
            <option class="color--white" value="Michigan"> Michigan </option>
            <option class="color--white" value="Minnesota"> Minnesota </option>
            <option class="color--white" value="Mississippi"> Mississippi </option>
            <option class="color--white" value="Missouri"> Missouri </option>
            <option class="color--white" value="Montana"> Montana </option>
            <option class="color--white" value="Nebraska"> Nebraska </option>
            <option class="color--white" value="Nevada"> Nevada </option>
            <option class="color--white" value="New Hampshire"> New Hampshire </option>
            <option class="color--white" value="New Jersey"> New Jersey </option>
            <option class="color--white" value="New Mexico"> New Mexico </option>
            <option class="color--white" value="New York"> New York </option>
            <option class="color--white" value="North Carolina"> North Carolina </option>
            <option class="color--white" value="North Dakota"> North Dakota </option>
            <option class="color--white" value="Ohio"> Ohio </option>
            <option class="color--white" value="Oklahoma"> Oklahoma </option>
            <option class="color--white" value="Oregon"> Oregon </option>
            <option class="color--white" value="Pennsylvania"> Pennsylvania </option>
            <option class="color--white" value="Rhode Island"> Rhode Island </option>
            <option class="color--white" value="South Carolina"> South Carolina </option>
            <option class="color--white" value="South Dakota"> South Dakota </option>
            <option class="color--white" value="Tennessee"> Tennessee </option>
            <option class="color--white" value="Texas"> Texas </option>
            <option class="color--white" value="Utah"> Utah </option>
            <option class="color--white" value="Vermont"> Vermont </option>
            <option class="color--white" value="Virginia"> Virginia </option>
            <option class="color--white" value="Washington"> Washington </option>
            <option class="color--white" value="Washington DC"> Washington DC</option>
            <option class="color--white" value="West Virginia"> West Virginia </option>
            <option class="color--white" value="Wisconsin"> Wisconsin </option>
            <option class="color--white" value="Wyoming"> Wyoming </option>
          </select>
        </div>
      </li>
      <!-- <li class="form-line jf-required" data-type="control_widget" id="id_6">
        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6">
          State
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_6" class="form-input-wide jf-required">
          <div data-widget-name="US State Picker" style="width:100%;text-align:Left" data-component="widget-field">
            <iframe title="US State Picker" frameBorder="0" scrolling="no" allowtransparency="true" allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen" data-type="iframe" class="custom-field-frame" id="customFieldFrame_6" src="" style="border:none;width:300px;height:50px" data-width="300" data-height="50">
            </iframe>
            <div class="widget-inputs-wrapper">
              <input type="hidden" id="input_6" class="form-hidden form-widget widget-required " name="q6_state" value="" />
              <input type="hidden" id="widget_settings_6" class="form-hidden form-widget-settings" value="%5B%7B%22name%22%3A%22abbreviatedStates%22%2C%22value%22%3A%22No%22%7D%2C%7B%22name%22%3A%22is-blank%22%2C%22value%22%3A%22false%22%7D%5D" data-version="2" />
            </div>
            <script type="text/javascript">
            setTimeout(function()
{
  var _cFieldFrame = document.getElementById("customFieldFrame_6");
  if (_cFieldFrame)
  {
    _cFieldFrame.onload = function()
    {
      if (typeof widgetFrameLoaded !== 'undefined')
      {
        widgetFrameLoaded(6, {
          "formID": 200697598448069
        })
      }
    };
    _cFieldFrame.src = "//widgets.jotform.io/pickers/?pickerType=states&qid=6&ref=" + encodeURIComponent(window.location.protocol + "//" + window.location.host);
    _cFieldFrame.addClassName("custom-field-frame-rendered");
  }
}, 0);
            </script>
          </div>
        </div>
      </li> -->
      <li class="form-line jf-required" data-type="control_fullname" id="id_7">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_7" for="first_7">
          Your Name
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_7" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
              <input placeholder="Your Name *" type="text" id="first_7" name="q7_yourName[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_7 sublabel_7_first" required="" />
              <!-- <label class="form-sub-label" for="first_7" id="sublabel_7_first" style="min-height:13px" aria-hidden="false"> First Name </label> -->
            </span>
            <!-- <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
              <input placeholder="Last Name" type="text" id="last_7" name="q7_yourName[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_7 sublabel_7_last" required="" />
              
            </span> -->
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_8">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8">
          Your Role
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_8" class="form-input-wide jf-required">
          <input placeholder="Your Role" type="text" id="input_8" name="q8_yourRole" data-type="input-textbox" class="form-textbox validate[required]" size="20" value="" data-component="textbox" aria-labelledby="label_8" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_phone" id="id_11">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11_area">
          Phone Number
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_11" class="form-input-wide jf-required">
          <div data-wrapper-react="true" 
          style="display: flex;
                justify-content: space-between;">
            <span class="form-sub-label-container " style="vertical-align:top" data-input-type="areaCode">
              <input placeholder="Area Code" type="tel" id="input_11_area" name="q11_phoneNumber[area]" class="form-textbox validate[required]" size="6" value="" data-component="areaCode" aria-labelledby="label_11 sublabel_11_area" />
              <!-- <span class="phone-separate" aria-hidden="true">
                 -
              </span>
              <label class="form-sub-label" for="input_11_area" id="sublabel_11_area" style="min-height:13px" aria-hidden="false"> Area Code </label> -->
            </span>
            <span class="form-sub-label-container " style="vertical-align:top" data-input-type="phone">
              <input type="tel" placeholder="Phone Number" id="input_11_phone" name="q11_phoneNumber[phone]" class="form-textbox validate[required]" size="12" value="" data-component="phone" aria-labelledby="label_11 sublabel_11_phone" />
              <!-- <label class="form-sub-label" for="input_11_phone" id="sublabel_11_phone" style="min-height:13px" aria-hidden="false"> Phone Number </label> -->
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_12">
        <!-- <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12">
          Email
          <span class="form-required">
            *
          </span>
        </label> -->
        <div id="cid_12" class="form-input-wide jf-required">
          <span class="form-sub-label-container " style="vertical-align:top">
            <input placeholder="Email *" type="email" id="input_12" name="q12_email" class="form-textbox validate[required, Email]" size="30" value="" data-component="email" aria-labelledby="label_12 sublabel_input_12" required="" />
            <!-- <label class="form-sub-label" for="input_12" id="sublabel_input_12" style="min-height:13px" aria-hidden="false"> example@example.com </label> -->
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="" data-align="auto" class="form-buttons-wrapper  ">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button" data-content="">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
  JotForm.poweredByText = "Powered by JotForm";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="200697598448069" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "200697598448069-200697598448069";
  </script>
  <div class="formFooter-heightMask">
  </div>

</form>