<div class="grid-container contained pt10">
	<div class="row">
		<div class="col c12 c3--md"></div>
			<div class="col c12 c6--md" style="min-height: 75vh;">
				<div class="limit-width tc">

					<img
						alt="Covera"
						data-src="/assets/logo-header-desktop.webp"
						onerror="this.src='/assets/logo-header-desktop.png'"
						class="logo lazyload"
					/>

				<h2 class="sans--medium-large fw--300 pt5 pb5 tc">Thank you for your submission.</h2>

				<p>Our White Paper should download shortly.</p>

				<p class="mt2 mb2">If it doesn't, <a href="/assets/20191227_Misdiagnosis White Paper.pdf" target="_blank" style="text-decoration: underline;"> click here to download</a>.</p>

				<a href="/">
				<button class="btn-large color--white bg--green">
					<img
						data-src="/assets/arrow-right-white.webp"
						onerror="this.src='/assets/arrow-right-white.png'"
						class="pl1 lazyload"
						style="transform: rotate(180deg);"
					/>
				
				 Back to Covera Health </button> 
				</a>

			</div>

		</div>
		<div class="col c12 c3--md"></div>

	</div>
</div>

<script type="text/javascript">

setTimeout(function(){
  window.open("/assets/20191227_Misdiagnosis White Paper.pdf");}
//   window.open("https://covera.frb.io/assets/20191227_Misdiagnosis White Paper.pdf");}
,2000);


</script>