<div class="grid-container contained pt10">
	<div class="row">
		<div class="col c12 c3--md"></div>
			<div class="col c12 c6--md" style="min-height: 75vh;">
				<div class="limit-width tc">

					<img
						alt="Covera"
						data-src="/assets/logo-header-desktop.webp"
						 onerror="this.src='/assets/logo-header-desktop.png'"
						class="logo lazyload"
					/>

				<h2 class="sans--medium-large fw--300 pt5 pb5 tc">Thank you for your submission</h2>

				<p>Sending you back...</p>

			</div>

		</div>
		<div class="col c12 c3--md"></div>

	</div>
</div>

<script type="text/javascript">

setTimeout(function(){
  window.location.href = "/about#contact";}
//   window.location.href = "https://covera.frb.io/about#contact";}
,2000);


</script>